{{#*inline "child"}}
<div class="panel box-shadow-none content-header">
    <div class="panel-body">
        <div class="col-md-12">
            <h3 class="animated fadeInLeft">{{book.name}}</h3>
            <div class="row">
                <ol class="animated fadeInDown breadcrumb col-md-2 col-sm-12 col-xs-12">
                    <li><a href="/">首页</a></li>
                    <li><a href="/book/list">书籍列表</a></li>

                    <!--按钮-->
                    <span class="hidden-md hidden-lg pull-right" id="search-btn"
                        style="display: inline-block;cursor: pointer;">
                        搜索
                        <span class="caret"></span>
                    </span>
                </ol>
                <!--搜索内容-->
                <div class="col-md-10 col-sm-12 col-xs-12" id="search">

                </div>

            </div>
        </div>
    </div>
</div>

<div class="col-md-12 top-20 padding-0">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-body">

                <!-- 警告(提示) start -->

                <!-- 警告(提示) end -->

                <div class="col-md-12 " style="padding-bottom:20px;">
                    <a href="javascript:history.back(-1);" class="right btn btn-gradient btn-default"
                        style="margin-left:8px;">后退</a>
                    {{#if book.finish}}{{else}}
                    <a href="" title="新增" class="right btn btn-gradient btn-info">新增章节</a>
                    {{/if}}
                    <h4 style="padding-left:10px;">{{book.name}}<span style="font-size: 12px;"> ({{book.author}})</span>
                    </h4>
                </div>

                <div class="responsive-table">
                    <div class="col-md-3">
                        <div class="panel">

                            <div class="panel-body">
                                <ul class="mini-timeline">
                                    {{#each chapters}}
                                    <li
                                        class="mini-timeline-highlight {{#if publish}}mini-timeline-info{{else}}{{/if}}">
                                        <div class="mini-timeline-panel">
                                            <h5>{{title}}&nbsp;<span style="font-size: 12px;"> </span></h5>
                                            <p class="right">
                                                <input type="hidden" name="chapter_name_{{id}}" value="{{title}}">
                                                <input type="hidden" name="chapter_content_{{id}}" value="{{content}}">
                                                <a href="/book/chapters/{{book_id}}#chapters-title" class="text-info"
                                                    onclick="showContent({{id}})">
                                                    <i class="fa"></i>查看内容
                                                    <span class="text-muted"></span>
                                                </a>
                                                |

                                                {{#if publish}}{{else}}<a href="#">发布</a> | {{/if}}

                                                <a href="/chapters/edit/{{id}}"><i class="fa fa-edit"></i> 修改
                                                    <span class="text-muted"></span>
                                                </a>
                                                |
                                                <a style="color: red;" href="/chapters/delete/{{id}}"
                                                    onclick="return confirm('删除章节:{{title}}（ID：{{id}}');">
                                                    <i class="fa fa-trash-o"></i>删除
                                                </a>
                                            </p>
                                        </div>
                                    </li>
                                    {{/each}}
                                    {{#if book.finish}}
                                    <li class="mini-timeline-highlight mini-timeline-success">
                                        <div class="mini-timeline-panel">
                                            <h5 class="time">此书已完本</h5>

                                        </div>
                                    </li>
                                    {{else}}
                                    <li class="mini-timeline-highlight mini-timeline-danger">
                                        <div class="mini-timeline-panel">
                                            <h5 class="time">
                                                <a href="{{reptile_url}}" class="text-success" target="_blank">
                                                    <i class="fa fa-plus-square-o"></i>新增章节
                                                    <span class="text-muted"></span>
                                                </a>
                                            </h5>
                                        </div>
                                    </li>
                                    {{/if}}



                                    <li></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 right">


                        <div class="panel-body">
                            <blockquote class="blockquote-reverse">
                                <p>{{book.description}}</p>
                                <footer>书籍 <cite title="Source Title">简介</cite></footer>
                            </blockquote>
                        </div>
                        <div class="well well-sm">
                            <h4 id="chapters-title">XUST.NET</h4>
                            <div id="chapters-content">
                                <p> https://www.xust.net</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    //显示章节正文
    function showContent(id) {
        // alert("显示章节正文");
        $("#chapters-title").html("");
        $("#chapters-content").html("");
        var book_name = $('input[name="chapter_name_' + id + '"]').val();
        var book_description = $('input[name="chapter_content_' + id + '"]').val();
        if (book_description.trim().length < 0) {
            alert("章节正文怎么为空呢？");
        } else {
            // alert(book_description);
        }
        $("#chapters-title").html(book_name);

        // 按行分割文本，并使用jQuery的each方法遍历每一行
        $.each(book_description.split('\n'), function (index, line) {
            // 过滤掉空行或只含空白的行
            if (line.trim() !== '') {
                // 包装每行文本为<p>标签，并添加到container中
                $('#chapters-content').append('<p>' + line + '</p>');
            }
        });

        // $("#chapters-content").html(book_description);
    }
</script>

{{/inline}}
{{> (lookup this "parent")}}