<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>儿科要略_吴克潜_在线阅读_中华典藏</title>
    <meta name="keywords" content="儿科要略原文,儿科要略全集,吴克潜儿科要略全文阅读,儿科要略完整版在线阅读,儿科要略全本无删节，儿科要略TXT电子书下载" />
    <meta name="description" content="《儿科要略》儿科著作,近代吴克潜著，书中整理辑录了儿科学的一些主要内容。总结了前人对小儿生理病理特点的论述，对儿科常见病的证治进行了系统的归纳。" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <link rel="stylesheet" type="text/css" href="https://www.zhonghuadiancang.com/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://www.zhonghuadiancang.com/css/common.css">
    <script src="https://www.zhonghuadiancang.com/js/common.js"></script>
    <script src="https://www.zhonghuadiancang.com/js/jquery-2.1.4.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse"
                    aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand vv-nav" href="https://www.zhonghuadiancang.com/"><img alt="中华典藏"
                        src="https://www.zhonghuadiancang.com/images/logo.png" class="logoimg">中华典藏</a>
                <form class="navbar-form navbar-left hidden-xs hidden-sm" method="post" name="searchform"
                    id="searchform" action="https://www.zhonghuadiancang.com/e/search/index.php">
                    <input type="hidden" name="tbname" value="bookname">
                    <input type="hidden" name="show" value="title,writer">
                    <input type="hidden" name="tempid" value="1">
                    <div class="input-group">
                        <input type="text" class="form-control" name="keyboard" placeholder="请输入书名或作者">
                        <span class="input-group-btn">
                            <button class="btn btn-danger" type="submit"><span
                                    class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </form>
            </div>
            <div class="collapse navbar-collapse" id="nav-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a target="_blank" href="https://bbs.zhonghuadiancang.com/" class="dropdown-toggle">留言</a>
                    </li>
                    <li class="dropdown">
                        <a href="https://www.zhonghuadiancang.com/s/" class="dropdown-toggle">专题</a>
                    </li>
                    <li class="dropdown">
                        <a href="https://www.zhonghuadiancang.com/renwu/" class="dropdown-toggle">人物</a>
                    </li>
                    <li class="dropdown">
                        <a href="https://www.zhonghuadiancang.com/shudan/" class="dropdown-toggle">书单</a>
                    </li>
                    <li class="dropdown">
                        <a href="https://www.zhonghuadiancang.com/top/" class="dropdown-toggle">风云榜</a>
                    </li>
                    <script src="https://www.zhonghuadiancang.com/e/member/login/loginjs.php"></script>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row menu visible-md visible-lg">
            <div class="col-md-1 col-lg-1"><a href="https://www.zhonghuadiancang.com/foxuebaodian/"
                    title="佛学宝典">佛学宝典</a></div>
            <div class="col-md-1 col-lg-1"><a href="https://www.zhonghuadiancang.com/rulizhexue/" title="儒理哲学">儒理哲学</a>
            </div>
            <div class="col-md-1 col-lg-1"><a href="https://www.zhonghuadiancang.com/lishizhuanji/"
                    title="历史传记">历史传记</a></div>
            <div class="col-md-1 col-lg-1"><a href="https://www.zhonghuadiancang.com/shicixiqu/" title="诗词戏曲">诗词戏曲</a>
            </div>
            <div class="col-md-1 col-lg-1"><a href="https://www.zhonghuadiancang.com/wenxueyishu/" title="文学艺术">文学艺术</a>
            </div>
            <div class="col-md-1 col-lg-1"><a href="https://www.zhonghuadiancang.com/xuanxuewushu/"
                    title="玄学五术">玄学五术</a></div>
            <div class="col-md-1 col-lg-1"><a href="https://www.zhonghuadiancang.com/xueshuzaji/" title="学术杂记">学术杂记</a>
            </div>
            <div class="col-md-1 col-lg-1"><a href="https://www.zhonghuadiancang.com/tianwendili/" title="天文地理">天文地理</a>
            </div>
            <div class="col-md-1 col-lg-1"><a href="https://www.zhonghuadiancang.com/leishuwenji/" title="类书文集">类书文集</a>
            </div>
            <div class="col-md-1 col-lg-1"><a href="https://www.zhonghuadiancang.com/waiguomingzhu/"
                    title="外国名著">外国名著</a></div>
            <div class="col-md-1 col-lg-1"><a href="https://www.zhonghuadiancang.com/guoxuezhishi/"
                    title="国学知识">国学知识</a></div>
        </div>
    </div>
    <div class="container">
        <div class="m-search-nav visible-xs visible-sm">
            <form class="row head vv-search visible-xs visible-sm" method="post" name="searchform" id="searchform"
                action="https://www.zhonghuadiancang.com/e/search/index.php">
                <input type="hidden" name="tbname" value="bookname">
                <input type="hidden" name="show" value="title,writer">
                <input type="hidden" name="tempid" value="1">
                <div class="col-sm-12">
                    <div class="input-group">
                        <input type="text" class="form-control input-lg" id="bdcsMain" name="keyboard"
                            placeholder="请输入书名或作者">
                        <span class="input-group-btn">
                            <button class="btn btn-danger btn-lg" type="submit"><span
                                    class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </div>
            </form>
            <div class="row headerbg visible-xs visible-sm">
                <div class="col-xs-4 col-md-4"><a href="https://www.zhonghuadiancang.com/">首页</a></div>
                <div class="col-xs-4 col-md-4">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">分类<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="https://www.zhonghuadiancang.com/xueshuzaji/" title="学术杂记">学术杂记</a></li>
                        <li><a href="https://www.zhonghuadiancang.com/wenxueyishu/" title="文学艺术">文学艺术</a></li>
                        <li><a href="https://www.zhonghuadiancang.com/foxuebaodian/" title="佛学宝典">佛学宝典</a></li>
                        <li><a href="https://www.zhonghuadiancang.com/tianwendili/" title="天文地理">天文地理</a></li>
                        <li><a href="https://www.zhonghuadiancang.com/xuanxuewushu/" title="玄学五术">玄学五术</a></li>
                        <li><a href="https://www.zhonghuadiancang.com/rulizhexue/" title="儒理哲学">儒理哲学</a></li>
                        <li><a href="https://www.zhonghuadiancang.com/lishizhuanji/" title="历史传记">历史传记</a></li>
                        <li><a href="https://www.zhonghuadiancang.com/shicixiqu/" title="诗词戏曲">诗词戏曲</a></li>
                        <li><a href="https://www.zhonghuadiancang.com/leishuwenji/" title="类书文集">类书文集</a></li>
                        <li><a href="https://www.zhonghuadiancang.com/guoxuezhishi/" title="国学知识">国学知识</a></li>
                        <li><a href="https://www.zhonghuadiancang.com/waiguomingzhu/" title="外国名著">外国名著</a></li>
                    </ul>
                </div>
                <div class="col-xs-4 col-md-4"><a href="https://www.zhonghuadiancang.com/renwu/">作家</a></div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                <div class="panel panel-danger m-cover">
                    <div class="panel-heading m-path">
                        <ol class="breadcrumb">
                            <li><a href="https://www.zhonghuadiancang.com/">首页</a></li>
                            <li><a href="https://www.zhonghuadiancang.com/xuanxuewushu/">玄学五术</a></li>
                            <li class="active"><a href="https://www.zhonghuadiancang.com/xuanxuewushu/15308/">儿科要略</a>
                            </li>
                        </ol>
                    </div>
                    <div class="panel-heading">
                        <h1>儿科要略 <small>作者:<a href="https://www.zhonghuadiancang.com/renwu/5926/">吴克潜</a></a></small>
                        </h1>
                    </div>
                    <div class="panel-body">
                        <div class="fmpic"><img
                                src="https://www.zhonghuadiancang.com/d/file/f745183ca7a8c6ae8dbca70a9163fa8d.jpg"
                                alt="儿科要略"></div>
                        <p class="m-summary">《儿科要略》儿科著作,近代吴克潜著，书中整理辑录了儿科学的一些主要内容。总结了前人对小儿生理病理特点的论述，对儿科常见病的证治进行了系统的归纳。
                        </p>
                        <div class="m-btn">
                            <a href="https://www.zhonghuadiancang.com/xuanxuewushu/15308/302872.html"><button
                                    type="button" class="btn btn-danger">开始阅读</button></a>
                            <a href="https://www.zhonghuadiancang.com/e/DownSys/DownSoft/?classid=23&id=15308&pathid=0"
                                target="_blank"><button type="button" class="btn btn-warning">TXT下载</button></a>
                            <a href="https://www.zhonghuadiancang.com/e/member/fava/add/?classid=23&id=15308"
                                target="_blank"><button type="button" class="btn btn-success">加入书架</button></a>
                        </div>
                        <div class="m-ad-1">
                            <script>web_ad();</script>
                        </div>
                    </div>
                    <div class="alert"
                        style="background: #fff;border-left: none;border-right: none;border-radius: 0;padding: 10px 15px;margin-bottom: 0;border-color: #ebebeb;">
                        <a href='https://www.zhonghuadiancang.com/tags-50-0.html' target='_blank'>近代</a> <a
                            href='https://www.zhonghuadiancang.com/tags-80-0.html' target='_blank'>中医</a> <a
                            href='https://www.zhonghuadiancang.com/tags-146-0.html' target='_blank'>幼科</a> </div>
                    <div class="panel-footer col-md-12 vv-pailie">
                        <nav>
                            <strong class="pull-left">章节列表</strong><strong class="pull-right" id="pailie"><a
                                    href="javascript:void(0);" onclick="displaybyOrder(this);" target="_self"
                                    title="调整章节显示顺序">升序↑</a></strong>
                        </nav>
                    </div>
                    <div class="clearfix"></div>
                    <h3><a href="0.html" target="_blank" title="儿科要略序">序</a></h3>
                    <ul class="list-group">
                        <li class="list-group-item col-md-4 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xuanxuewushu/15308/302872.html" title="自序">自序</a>
                        </li>
                    </ul>
                    <h3><a href="1.html" target="_blank" title="儿科要略第一章　出生前后">第一章　出生前后</a></h3>
                    <ul class="list-group">
                        <li class="list-group-item col-md-4 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xuanxuewushu/15308/302873.html"
                                title="第一节　胎中之教养">第一节　胎中之教养</a></li>
                        <li class="list-group-item col-md-4 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xuanxuewushu/15308/302874.html"
                                title="第二节　临产之处置">第二节　临产之处置</a></li>
                        <li class="list-group-item col-md-4 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xuanxuewushu/15308/302875.html"
                                title="第三节　初生之去毒">第三节　初生之去毒</a></li>
                        <li class="list-group-item col-md-4 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xuanxuewushu/15308/302876.html"
                                title="第四节　急症之疗治">第四节　急症之疗治</a></li>
                        <li class="list-group-item col-md-4 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xuanxuewushu/15308/302877.html"
                                title="第五节　儿科之诊法">第五节　儿科之诊法</a></li>
                    </ul>
                    <h3><a href="2.html" target="_blank" title="儿科要略第二章　养育方法">第二章　养育方法</a></h3>
                    <ul class="list-group">
                        <li class="list-group-item col-md-4 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xuanxuewushu/15308/302878.html"
                                title="第一节　哺乳时期">第一节　哺乳时期</a></li>
                        <li class="list-group-item col-md-4 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xuanxuewushu/15308/302879.html"
                                title="第二节　孩童时期">第二节　孩童时期</a></li>
                    </ul>
                    <h3><a href="3.html" target="_blank" title="儿科要略第三章　儿科特征">第三章　儿科特征</a></h3>
                    <ul class="list-group">
                        <li class="list-group-item col-md-4 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xuanxuewushu/15308/302880.html"
                                title="第一节　脐风">第一节　脐风</a></li>
                        <li class="list-group-item col-md-4 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xuanxuewushu/15308/302881.html"
                                title="第二节　丹毒">第二节　丹毒</a></li>
                        <li class="list-group-item col-md-4 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xuanxuewushu/15308/302882.html"
                                title="第三节　口症">第三节　口症</a></li>
                        <li class="list-group-item col-md-4 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xuanxuewushu/15308/302883.html"
                                title="第四节　变蒸">第四节　变蒸</a></li>
                        <li class="list-group-item col-md-4 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xuanxuewushu/15308/302884.html"
                                title="第五节　弱症">第五节　弱症</a></li>
                        <li class="list-group-item col-md-4 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xuanxuewushu/15308/302885.html"
                                title="第六节　疳证">第六节　疳证</a></li>
                        <li class="list-group-item col-md-4 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xuanxuewushu/15308/302886.html"
                                title="第七节　杂证">第七节　杂证</a></li>
                    </ul>
                    <h3><a href="4.html" target="_blank" title="儿科要略第四章　痧痘论治">第四章　痧痘论治</a></h3>
                    <ul class="list-group">
                        <li class="list-group-item col-md-4 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xuanxuewushu/15308/302887.html"
                                title="第一节　痧疹概要">第一节　痧疹概要</a></li>
                        <li class="list-group-item col-md-4 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xuanxuewushu/15308/302888.html"
                                title="第二节　痧证分类">第二节　痧证分类</a></li>
                        <li class="list-group-item col-md-4 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xuanxuewushu/15308/302889.html"
                                title="第三节　痧后证治">第三节　痧后证治</a></li>
                        <li class="list-group-item col-md-4 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xuanxuewushu/15308/302890.html"
                                title="第四节　痘证概要">第四节　痘证概要</a></li>
                        <li class="list-group-item col-md-4 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xuanxuewushu/15308/302891.html"
                                title="第五节　痘证分类">第五节　痘证分类</a></li>
                        <li class="list-group-item col-md-4 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xuanxuewushu/15308/302892.html"
                                title="第六节　痘后证治">第六节　痘后证治</a></li>
                    </ul>
                    <h3><a href="5.html" target="_blank" title="儿科要略第五章　诸惊论治">第五章　诸惊论治</a></h3>
                    <ul class="list-group">
                        <li class="list-group-item col-md-4 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xuanxuewushu/15308/302893.html"
                                title="第一节　惊风概说">第一节　惊风概说</a></li>
                        <li class="list-group-item col-md-4 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xuanxuewushu/15308/302894.html"
                                title="第二节　急惊概要">第二节　急惊概要</a></li>
                        <li class="list-group-item col-md-4 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xuanxuewushu/15308/302895.html"
                                title="第三节　慢惊概要">第三节　慢惊概要</a></li>
                        <li class="list-group-item col-md-4 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xuanxuewushu/15308/302896.html"
                                title="第四节　类惊概要">第四节　类惊概要</a></li>
                    </ul>
                    <h3><a href="6.html" target="_blank" title="儿科要略第六章　咳嗽论治">第六章　咳嗽论治</a></h3>
                    <ul class="list-group">
                        <li class="list-group-item col-md-4 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xuanxuewushu/15308/302897.html"
                                title="第一节　咳嗽概说">第一节　咳嗽概说</a></li>
                        <li class="list-group-item col-md-4 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xuanxuewushu/15308/302898.html"
                                title="第二节　外感咳嗽">第二节　外感咳嗽</a></li>
                        <li class="list-group-item col-md-4 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xuanxuewushu/15308/302899.html"
                                title="第三节　内伤咳嗽">第三节　内伤咳嗽</a></li>
                        <li class="list-group-item col-md-4 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xuanxuewushu/15308/302900.html"
                                title="第四节　杂证咳嗽">第四节　杂证咳嗽</a></li>
                    </ul>
                    <h3><a href="7.html" target="_blank" title="儿科要略第七章　吐泻论治">第七章　吐泻论治</a></h3>
                    <ul class="list-group">
                        <li class="list-group-item col-md-4 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xuanxuewushu/15308/302901.html"
                                title="第一节　吐泻概说">第一节　吐泻概说</a></li>
                        <li class="list-group-item col-md-4 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xuanxuewushu/15308/302902.html"
                                title="第二节　吐证述要">第二节　吐证述要</a></li>
                        <li class="list-group-item col-md-4 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xuanxuewushu/15308/302903.html"
                                title="第三节　泻证述要">第三节　泻证述要</a></li>
                        <li class="list-group-item col-md-4 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xuanxuewushu/15308/302904.html"
                                title="第四节　吐泻述要">第四节　吐泻述要</a></li>
                    </ul>
                    <h3><a href="8.html" target="_blank" title="儿科要略第八章　疟痢论治">第八章　疟痢论治</a></h3>
                    <ul class="list-group">
                        <li class="list-group-item col-md-4 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xuanxuewushu/15308/302905.html"
                                title="第一节　疟痢概说">第一节　疟痢概说</a></li>
                        <li class="list-group-item col-md-4 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xuanxuewushu/15308/302906.html"
                                title="第二节　疟疾述要">第二节　疟疾述要</a></li>
                        <li class="list-group-item col-md-4 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xuanxuewushu/15308/302907.html"
                                title="第三节　痢疾述要">第三节　痢疾述要</a></li>
                    </ul>
                    <h3><a href="9.html" target="_blank" title="儿科要略第九章　杂证论治">第九章　杂证论治</a></h3>
                    <ul class="list-group">
                        <li class="list-group-item col-md-4 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xuanxuewushu/15308/302908.html"
                                title="第一节　二便下血">第一节　二便下血</a></li>
                        <li class="list-group-item col-md-4 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xuanxuewushu/15308/302909.html"
                                title="第二节　吐血呕血">第二节　吐血呕血</a></li>
                        <li class="list-group-item col-md-4 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xuanxuewushu/15308/302910.html"
                                title="第三节　身体肿胀">第三节　身体肿胀</a></li>
                        <li class="list-group-item col-md-4 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xuanxuewushu/15308/302911.html"
                                title="第四节　疝气偏坠">第四节　疝气偏坠</a></li>
                        <li class="list-group-item col-md-4 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xuanxuewushu/15308/302912.html"
                                title="第五节　小儿疮疡">第五节　小儿疮疡</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>


            </div>


            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 .visible-md visible-lg">

                <div class="panel panel-danger">
                    <div class="panel-heading title">吴克潜其它作品</div>
                    <ul class="list-group">
                    </ul>
                </div>

                <div class="panel panel-danger">
                    <div class="panel-heading title">猜你喜欢的作品</div>
                    <ul class="list-group">
                        <li class="list-group-item"><a
                                href="https://www.zhonghuadiancang.com/xuanxuewushu/9613/">太上灵宝净明入道品</a></li>
                        <li class="list-group-item"><a
                                href="https://www.zhonghuadiancang.com/xuanxuewushu/11577/">黄箓九阳梵炁灯仪</a></li>
                        <li class="list-group-item"><a
                                href="https://www.zhonghuadiancang.com/xuanxuewushu/9185/">太上洞玄灵宝三途五苦拔度生死妙经</a></li>
                        <li class="list-group-item"><a
                                href="https://www.zhonghuadiancang.com/xuanxuewushu/11553/">黄帝阴符经集注</a></li>
                        <li class="list-group-item"><a
                                href="https://www.zhonghuadiancang.com/xuanxuewushu/13768/">医学发明</a></li>
                        <li class="list-group-item"><a
                                href="https://www.zhonghuadiancang.com/xuanxuewushu/9535/">灵宝净明天枢都司法院须知法文</a></li>
                        <li class="list-group-item"><a
                                href="https://www.zhonghuadiancang.com/xuanxuewushu/10679/">太上修真体元妙道经</a></li>
                        <li class="list-group-item"><a
                                href="https://www.zhonghuadiancang.com/xuanxuewushu/lvzusanniyishishuoshuguankui/">吕祖三尼医世说述管窥</a>
                        </li>
                        <li class="list-group-item"><a
                                href="https://www.zhonghuadiancang.com/xuanxuewushu/9586/">上清天心正法</a></li>
                        <li class="list-group-item"><a
                                href="https://www.zhonghuadiancang.com/xuanxuewushu/11343/">傅青主男科重编考释</a></li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
    </div>


    <footer class="navbar navbar-default vv-footer hidden-xs hidden-sm">
        <div class="container">
            <div class="container">
                <p align="center">
                    <font size="1">
                        中华典藏网旨在推广国学知识<br>吸取国学精华，传承中华文化！<br>
                        本站非营利性站点，以方便网友为主，仅供学习。<br>
                        联系我们：txt8@163.com</font>
                </p>
            </div>
            <div id="tj"></div>



            <script>
                (function () {
                    var bp = document.createElement('script');
                    var curProtocol = window.location.protocol.split(':')[0];
                    if (curProtocol === 'https') {
                        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
                    }
                    else {
                        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
                    }
                    var s = document.getElementsByTagName("script")[0];
                    s.parentNode.insertBefore(bp, s);
                })();
            </script>

            <script>
                var _hmt = _hmt || [];
                (function () {
                    var hm = document.createElement("script");
                    hm.src = "https://hm.baidu.com/hm.js?19055beeefdc53f8c9d46de44d9a851e";
                    var s = document.getElementsByTagName("script")[0];
                    s.parentNode.insertBefore(hm, s);
                })();
            </script>
    </footer>

    <script src="https://www.zhonghuadiancang.com/js/bootstrap.min.js"></script>
    <script>
        function displaybyOrder(e) {
            if ($(e).text() == "升序↑") { $(e).text("降序↓") } else { $(e).text("升序↑") }
            $("#booklist" + " li").each(function (e) { $(this).prependTo($(this).parent()) });
        }
    </script>
    <script src="https://www.zhonghuadiancang.com/e/extend/top/index.php?classid=23&id=15308"></script>
    <div style="display: none;">
        <script src=https://www.zhonghuadiancang.com/e/public/ViewClick/?classid=23&id=15308&addclick=1></script>
    </div>
</body>

</html>