<!DOCTYPE html>
<html lang="zh-cn">
<!--禁止百度转码-->
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta http-equiv=”Cache-Control” content=”no-transform ” />

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>卷之二_运气易览_汪机_在线阅读_中华典藏</title>
    <meta name="keywords" content="卷之二,运气易览,汪机" />
    <meta name="description"
        content="十六、論六十年客氣
司天在泉四間氣紀步，各主六十日八十七刻半。客行天令，居於主氣之上，故有溫涼、寒暑、蒙暝、明晦、風雨、霜雪、電雹、雷霆不同之化。其春溫、夏暑、秋涼、冬寒四時之正令，豈能全為運與氣所奪？則當其時，自有微甚之變矣。布此六十客氣列於主位之下者，使知其氣之所在" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <link rel="stylesheet" type="text/css" href="https://www.zhonghuadiancang.com/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://www.zhonghuadiancang.com/css/read.css">
    <script type="text/javascript" src="https://www.zhonghuadiancang.com/js/waps.js"></script>

</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse"
                    aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand vv-nav" href="https://www.zhonghuadiancang.com/"><img alt="中华典藏"
                        src="https://www.zhonghuadiancang.com/images/logo.png" class="logoimg">中华典藏</a>
                <form class="navbar-form navbar-left hidden-xs hidden-sm" method="post" name="searchform"
                    id="searchform" action="https://www.zhonghuadiancang.com/e/search/index.php">
                    <input type="hidden" name="tbname" value="bookname">
                    <input type="hidden" name="show" value="title,writer">
                    <input type="hidden" name="tempid" value="1">
                    <div class="input-group">
                        <input type="text" class="form-control" name="keyboard" placeholder="请输入书名或作者">
                        <span class="input-group-btn">
                            <button class="btn btn-danger" type="submit"><span
                                    class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </form>
            </div>
            <div class="collapse navbar-collapse" id="nav-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a target="_blank" href="https://bbs.zhonghuadiancang.com/" class="dropdown-toggle">留言</a>
                    </li>
                    <li class="dropdown">
                        <a href="https://www.zhonghuadiancang.com/s/" class="dropdown-toggle">专题</a>
                    </li>
                    <li class="dropdown">
                        <a href="https://www.zhonghuadiancang.com/renwu/" class="dropdown-toggle">人物</a>
                    </li>
                    <li class="dropdown">
                        <a href="https://www.zhonghuadiancang.com/shudan/" class="dropdown-toggle">书单</a>
                    </li>
                    <li class="dropdown">
                        <a href="https://www.zhonghuadiancang.com/top/" class="dropdown-toggle">风云榜</a>
                    </li>
                    <script src="https://www.zhonghuadiancang.com/e/member/login/loginjs.php"></script>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">字体设置<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0)" id="xs">(小)16px</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="javascript:void(0)" id="sm">(默认)18px</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="javascript:void(0)" id="md">(中)20px</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="javascript:void(0)" id="lg">(大)22px</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row menu visible-md visible-lg">
            <div class="col-md-1 col-lg-1"><a href="https://www.zhonghuadiancang.com/foxuebaodian/"
                    title="佛学宝典">佛学宝典</a></div>
            <div class="col-md-1 col-lg-1"><a href="https://www.zhonghuadiancang.com/rulizhexue/" title="儒理哲学">儒理哲学</a>
            </div>
            <div class="col-md-1 col-lg-1"><a href="https://www.zhonghuadiancang.com/lishizhuanji/"
                    title="历史传记">历史传记</a></div>
            <div class="col-md-1 col-lg-1"><a href="https://www.zhonghuadiancang.com/shicixiqu/" title="诗词戏曲">诗词戏曲</a>
            </div>
            <div class="col-md-1 col-lg-1"><a href="https://www.zhonghuadiancang.com/wenxueyishu/" title="文学艺术">文学艺术</a>
            </div>
            <div class="col-md-1 col-lg-1"><a href="https://www.zhonghuadiancang.com/xuanxuewushu/"
                    title="玄学五术">玄学五术</a></div>
            <div class="col-md-1 col-lg-1"><a href="https://www.zhonghuadiancang.com/xueshuzaji/" title="学术杂记">学术杂记</a>
            </div>
            <div class="col-md-1 col-lg-1"><a href="https://www.zhonghuadiancang.com/tianwendili/" title="天文地理">天文地理</a>
            </div>
            <div class="col-md-1 col-lg-1"><a href="https://www.zhonghuadiancang.com/leishuwenji/" title="类书文集">类书文集</a>
            </div>
            <div class="col-md-1 col-lg-1"><a href="https://www.zhonghuadiancang.com/waiguomingzhu/"
                    title="外国名著">外国名著</a></div>
            <div class="col-md-1 col-lg-1"><a href="https://www.zhonghuadiancang.com/guoxuezhishi/"
                    title="国学知识">国学知识</a></div>
        </div>
    </div>


    <script>zj_waps168();</script>
    <div class="container">
        <div class="m-search-nav visible-xs visible-sm">
            <form class="row head vv-search visible-xs visible-sm" method="post" name="searchform" id="searchform"
                action="https://www.zhonghuadiancang.com/e/search/index.php">
                <input type="hidden" name="tbname" value="bookname">
                <input type="hidden" name="show" value="title,writer">
                <input type="hidden" name="tempid" value="1">
                <div class="col-sm-12">
                    <div class="input-group">
                        <input type="text" class="form-control input-lg" id="bdcsMain" name="keyboard"
                            placeholder="请输入书名或作者">
                        <span class="input-group-btn">
                            <button class="btn btn-danger btn-lg" type="submit"><span
                                    class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </div>
            </form>
            <div class="row headerbg visible-xs visible-sm">
                <div class="col-xs-4 col-md-4"><a href="https://www.zhonghuadiancang.com/">首页</a></div>
                <div class="col-xs-4 col-md-4">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">分类<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="https://www.zhonghuadiancang.com/xueshuzaji/" title="学术杂记">学术杂记</a></li>
                        <li><a href="https://www.zhonghuadiancang.com/wenxueyishu/" title="文学艺术">文学艺术</a></li>
                        <li><a href="https://www.zhonghuadiancang.com/foxuebaodian/" title="佛学宝典">佛学宝典</a></li>
                        <li><a href="https://www.zhonghuadiancang.com/tianwendili/" title="天文地理">天文地理</a></li>
                        <li><a href="https://www.zhonghuadiancang.com/xuanxuewushu/" title="玄学五术">玄学五术</a></li>
                        <li><a href="https://www.zhonghuadiancang.com/rulizhexue/" title="儒理哲学">儒理哲学</a></li>
                        <li><a href="https://www.zhonghuadiancang.com/lishizhuanji/" title="历史传记">历史传记</a></li>
                        <li><a href="https://www.zhonghuadiancang.com/shicixiqu/" title="诗词戏曲">诗词戏曲</a></li>
                        <li><a href="https://www.zhonghuadiancang.com/leishuwenji/" title="类书文集">类书文集</a></li>
                        <li><a href="https://www.zhonghuadiancang.com/guoxuezhishi/" title="国学知识">国学知识</a></li>
                        <li><a href="https://www.zhonghuadiancang.com/waiguomingzhu/" title="外国名著">外国名著</a></li>
                    </ul>
                </div>
                <div class="col-xs-4 col-md-4"><a href="https://www.zhonghuadiancang.com/renwu/">作家</a></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title"><a href="https://www.zhonghuadiancang.com/xuanxuewushu/18783/">运气易览</a>
                            <p class="pull-right"><a href="https://www.zhonghuadiancang.com/renwu/wangji2/">汪机作品集</a>
                            </p>
                        </h3>
                    </div>
                    <div class="panel-footer col-md-12">
                        <h1>卷之二</h1>
                    </div>
                    <div style="padding-left: 17px; padding-right: 17px;">
                        <script>cambrian.render('body')</script>
                    </div>
                    <script>zj_waps();</script>
                    <div id="content" class="panel-body">
                        <p>十六、論六十年客氣</p>
                        <p>司天在泉四間氣紀步，各主六十日八十七刻半。客行天令，居於主氣之上，故有溫涼、寒暑、蒙暝、明晦、風雨、霜雪、電雹、雷霆不同之化。其春溫、夏暑、秋涼、冬寒四時之正令，豈能全為運與氣所奪？則當其時，自有微甚之變矣。布此六十客氣列於主位之下者，使知其氣之所在之大法也。其天符、歲會、平氣、支幹、逆順，氣與運相生、相剋，客勝、主勝、災化、分野、交時先後、淫勝郁復、嘉祥災變，各各不同。而六氣極則過亢，災害生矣。故氣極則反，由是所承之氣居下以乘之，經所謂相火之下，水氣承之是也。又有中見之氣從之，經所謂少陽之上，火氣治之，中見厥陰是也。蓋陽極則陰生，陰極則陽生，斯五行相濟之妙用也。其中見者，乃手足經六合藏府相乘之化是也，在天地間氣自應之矣。
                        </p>
                        <p>十七、論天地六氣（圖在主氣客氣文內）</p>
                        <p>五行陰陽之氣以布八方。蓋天氣降而下，地氣遷而上。地之氣靜而常，天之氣動而變。其六氣之源則同，六氣之緒則異，何哉？蓋天地之氣始於少陰而終於厥陰。經曰少陰所謂標，厥陰所謂終是也。地之氣始於厥陰木，而終於太陽水，經曰顯明之右，君火之位是也。故天之六元氣反合地十二支，以五行正化對化為其緒。則
                        </p>
                        <p>少陽司子午、太陰司丑未、少陽司寅申、陽明司卯酉、太陽司辰戌、厥陰司巳亥，天氣終始之因如是而已。</p>
                        <p>地之六氣反合天之四時，風熱暑濕燥寒為緒。則</p>
                        <p>厥陰風木主春，少陰君火主春末夏初，少陽相火主夏，太陰濕土主長夏，陽明燥金主秋，太陽寒水主冬，地氣終始之因如是而已。</p>
                        <p>經曰天有陰陽，地亦有陰陽者，乃上下相臨也。天氣動而不息，故五歲而遷。地氣靜而守位。天氣不加於君火，則五歲而餘一氣，右遷相火之上，以君火不立歲故也。地之紀五歲一周，天之紀六朞一備。五歲一周，則五行之氣遍。六朞一備，則六氣之位周。與干加支之緒小同，取陰陽相錯，上下相乘，畢其紀之之意也。以五六相合，故三十年一紀，則六十年矣。
                        </p>
                        <p>交六氣時日圖</p>
                        <p>歌見六氣遷移加臨之圖內。</p>
                        <p>十八、論主氣</p>
                        <p>地氣靜而守位，故春溫、夏暑、秋涼、冬寒為歲歲之常令，四時為六氣之所主也。厥陰木為初氣者，方春氣之始也，木生火，故少陰君火、少陽相火次之。火生土，故太陰土次之。土生金，故陽明金次之。金生水，故太陽水次之，皆相生而布其令，莫不咸有緒焉。木為初氣，主春分前六十日有奇，奇八十七刻半，自鬥建醜至卯之中，天度至此，風氣乃行也。君火為二氣，主春分後六十日有奇，自鬥建卯正至巳之中，天度至此，暄淑乃行也。相火為三氣，主夏至前後各三十日有奇，自鬥建巳正至未之中，天度至此，炎熱乃行也。土為四氣，主秋分前六十日有奇，自鬥建未正至酉之中，天度至此，雲雨乃行，濕蒸乃作也。金為五氣，主秋分後六十日有奇，自鬥建酉正至亥之中，天度至此，清氣乃行，萬物皆燥也。水為六氣，主冬至前後各三十日有奇，自鬥建亥正至醜之中，天度至此，寒氣乃行也。六氣旋相，以成一歲之主氣也。天之六氣之客，每歲轉居於其上，以行天令者也，是故當其時而行變之常也，非其時而行變之災也。如春行夏秋冬之令，冬行春夏秋之令，此客加主之變也。故有德化政令之常，有暴風疾雨迅雷飄電之變。冬有燥石之熱，夏有悽風之清。此無他，天地之氣勝復郁發之致也，此則五氣麗乎太過不及之徵耳。
                        </p>
                        <p>十九、論客氣</p>
                        <p>六氣分上下左右而司天令，十二支分節令時日而司地化。上下相召，而寒、暑、燥、濕、風、火與四時之氣不同者，蓋相臨不一使然也。六氣司於十二支，有正對之化。厥陰司於巳亥，謂厥陰木也，木生於亥，故正化於亥，對化於巳也。卯雖為正木之分，乃陽明金對化也，所謂從生而順於己。少陰司於子午，謂少陰為君火尊位，正得南方離位，故正化於午，對化於子也。太陰司於醜未，謂太陰為土，土屬中宮，寄於坤位西南，而居未分，故正化於未，對化於醜也。少陽司於寅申，謂少陽相火，位卑於君火，雖有午位，君火居之，火生於寅，故正化於寅，對化於申也。陽明司於卯酉，謂陽明為金，酉為西方屬金，故正化於酉，對化於卯也。太陽司於辰戌，謂太陽為水，雖有子位，以居君火對化，水乃伏土中，即六戊天門戌，六己地戶辰是也，故水雖土用，正化於戌，對化於辰也。此天之陰陽合地之十二支，動而不息者也。但將年律起當年司天，相對一氣為在泉，餘氣為左右間，用在泉後一氣為初之氣，主六十日有奇。至司天為三之氣，主上半年。（自大寒日後通主上半年也。至在泉為六氣，主下半年。自大暑日後通主下半年。）經曰：歲半已前天氣主之，歲半已後地氣主之者，此也天之六氣客也。將此客氣布於地之六氣步位之上，則有氣化之異也。經曰：上下有位，左右有紀者，謂司天曰上，位在南方，則面北立左右，乃左西右東也。在泉曰下，位在北方，則面南立左右，乃左東右西也。故上下而左右殊。經曰少陽之右，陽明治之。乃南面而立，以閱之至也，非論上下左右之位，而與顯明之右，君火治之之意同，謂南面視之指位而言也。
                        </p>
                        <p>六氣正化對化之圖歌</p>
                        <p>少陰正化午對化子。太陰正化未對化醜。少陽正化寅對化申。陽明正化酉對化卯。太陽正化戌對化辰。厥陰正化亥對化巳。</p>
                        <p>歌曰</p>
                        <p>午（位火）寅（生火）同酉（屬金）未（寄土），戌（門水上伏天）亥（生木）正方由，十二支分半，余皆正化求。</p>
                        <p>六氣遷移加臨之圖歌　交主氣時日歌曰</p>
                        <p>厥陰之氣大寒初，君火春分二上居，小滿少陽三候主，太陰大暑四交秋（分），五定陽明位寒暑，終於小雪！（客行天命，有寒暑燥濕風火之化，主當只奉之，客勝則從，主勝則逆，二者自以多少為勝，而無復興常勝殊）。
                        </p>
                        <p>四間氣之圖歌</p>
                        <p>四間：此以客氣論之，司天為三氣，在泉為終氣，余為左右間，司天左為四氣，右為二氣，在泉左為初氣，右為五氣。</p>
                        <p>歌曰</p>
                        <p>如推四間居何地，標準司天與在泉，左四天旁同右二，左初右五列泉邊。</p>
                        <p>二十、六十年主客加臨天氣</p>
                        <p>（子午）初寒切霜雪冰，二風雨蟲三暑烘，四雨霪零走雷電，五溫風兮燥寒終。（丑未）初蟲風，二疵疫，雷雨電雹三氣中，四乃炎沸五涼燥，大寒凝冽六之工，熱風時氣。（寅申）初是二雨，三為災亢攻，四風霧露五寒早，寒風雨蟲六驗攻。（卯酉）初風雨，二熱疫，三發涼風四雨蒙，涼風雨蟲五能致，蟄出不冰應六宮。瘟疫。（辰戌）初溫涼二，寒熱冰雹三所通，四風雨蟲五濕熱，寒雪地濕六不空。（巳亥）初霧昧，二雨熱，熱風雨蟲三卻同暴雨溽濕熱用四，雨五六蟄不冰窮。
                        </p>
                        <p>此皆客行天令居上，故有是不同之化，然平氣至，必當其期，過不及則先後其候於交氣期，各差十三日而應。</p>
                        <p>六十年氣運相臨之圖歌</p>
                        <p>歌曰</p>
                        <p>六十年中紀運歌，運克氣者為不和，氣如生運名順化，運被氣克天刑多，小逆見之運生氣，氣運合則天符過。</p>
                        <p>（小逆如己卯歲，雖金與土相得，然子臨父位為逆。）</p>
                        <p>二十一、論無符</p>
                        <p>司天者，司直也，主行天之令，上之位也。歲運者，運動也，主天地間人物化生之氣，中之位也。在泉者，主地之化，行乎地中，下之位也。一歲之中，有此上中下三氣各行化令，而氣偶符會而同者，則同其化，雖無克復之變，則有中病、徐暴之異。是謂當年之中，司天之氣與中氣運同者，命曰天符。符之為言合也，天符共十二年，而十二年中，又有與當年十二律、五行同者，又是歲會，命曰太乙天符。太乙者，尊之之號也。謂一者天會，二者歲會，三者運會。只有四年，不論陰年陽年皆曰天符。經曰：天符為執法，歲會為行令，太乙天符為貴人。邪之中，則執法者，其病速而危；行令者，其病徐而持；貴人者，其病暴而死。蓋以氣令中人則深矣。歲會幹律（支也，又辰止。）同而非天令，言行令者，象方伯無執法之權，故無速害病，但執持而矣。
                        </p>
                        <p>天符之圖</p>
                        <p>二十二、論歲會</p>
                        <p>夫當年十干建運，與年辰、十二律、五行相會，故曰歲會，氣之平也。故不以陰年陽年，乃是取四時正中之月為四直承歲，子午卯酉是也。而土無正位，各寄旺四季之末一十八日有奇，則通論承歲，辰戌丑未是也。外有四年，壬寅皆木，庚申皆金，是二陽年。癸巳皆火，辛亥皆水，是二陰年，是運與年辰相會而不為歲會者，謂不當四年正中之令故也。除二陽年，則癸巳辛亥二陰年，雖不明歲會，亦上下五行相佐，皆為平氣之歲，物生脈應，皆必合期，無先後矣。歲會八年中，內四年與司天氣同入太乙天符。
                        </p>
                        <p>歲會之圖</p>
                        <p>二十三、論同天符同歲會</p>
                        <p>運氣與在泉合，其氣化陽年曰同天符，陰年曰同歲會。故六十年中，太乙天符四年，天符十二年，歲會八年，同天符六年，同歲會六年，五者離而言之，共三十六年。合而言之，止有二十七年。經言二十四歲者，不言歲會也。變行有多少，病形有微甚，生死有早晏，按經推步，誠可知也。
                        </p>
                        <p>同天符同歲會圖</p>
                        <p>天符太乙天符歲會同天符同歲會總歌</p>
                        <p>司天與運及年支，三位相參太乙符；運合年支名歲會，土（土之年辰辰四正必）同途；在泉合運陰同歲，陽則同天符可呼；惟有天符何意取，司天合運是其區。</p>
                        <p>（符，合也。太乙，尊之之號，惟辰戌丑未寄位子午卯酉四正位，主歲會者，余不當正中之令，故耳邪之中人太乙暴而死，歲會徐而持，天符速而危。）</p>
                        <p>干德符歌</p>
                        <p>（無論無圖，讀其歌便諳其義，故附錄於此。）</p>
                        <p>不及年月干符同，未逢行勝氣亦平，行勝已後行復畢，本氣即得正位行。年前大寒交初氣，其日乾合年干位，交氣時干或合之，二者皆為平氣至。（如丁酉歲木運不及，當金行勝。正月建壬，與丁合，此未逢勝。己卯歲土不及，當木行勝，金行復至。九月建甲與己，金土乃遷位，此行勝己後，亦行復己畢也。年日時除交初氣，余雖相遇不相濟，今謂甲已已合之類是也。）
                        </p>
                        <p>二十四、論手足經</p>
                        <p>經言人五藏十二節，皆通乎天氣者，乃論手足經三陰三陽也。其十二經外循身形，內貫藏府，以應十二月，即十二節也。五藏為陰，六府為陽，一陰一陽，乃為一合，即六合也。夫少陰之經主心與腎二藏者，蓋心屬火，而少陰冬脈，其本在腎。又居火，正司於午，對化於子，是以腎藏亦少陰主之。五藏為陰，不可言陽。水隨腎至，故太陽為府，則手太陽小腸、足太陽膀胱也。太陰之經主脾與肺二藏者，蓋脾屬陰土，而太陰陰脈在肺，又土生金，子隨母居，故肺太陰主之。金隨肺至，故陽明為府，則手陽明大腸、足陽明胃也。厥陰之經主肝與心包絡二藏者，蓋肝屬木，又生火，子隨母居，故心包厥陰主之。火隨心包而至，故少陽為府，則手少陽三焦、足少陽膽也。其手足經者，乃手經之脈自兩手起，足經之脈自兩足起也。以十二辰言之，蓋陰生於午，陰上生，故曰手經。陽生於子，陽下生，故曰足經，手足經所以紀上下也。又心、肺、心包在上，屬手經。肝、脾、腎在下，屬足經，亦其意也。藏府同為手足經，乃一合也。心包非藏也，三焦非府也。經曰膻中者，臣使之官，喜樂出焉，在胸主兩乳間，為氣之海；然心主為君也。三焦者，決瀆之官，水道出焉，三焦有名無形，上合於心主，下合於右腎，主謁道諸氣，名為使者也。
                        </p>
                        <p>手足經所屬之圖歌</p>
                        <p>手足經歌</p>
                        <p>太陽（手）小腸足膀胱，陽明（手）大腸足胃當，少陽（手）三焦足膽配，太陰（手）肺兮足脾方，少陰（手）心經足腎部，厥陰（手）包絡足肝鄉。</p>
                        <p>藏府所屬地支歌，子腎午心辰膀胱，醜脾酉腸戌小腸，未肺巳肝亥包絡，卯胃申焦寅膽房。</p>
                        <p>二十五、論六病</p>
                        <p>厥陰所至為裡急、筋緩、縮急、支痛、軟戾、脅痛、嘔泄。少陰所至為瘍疹、身熱、惡寒、戰慄、驚惑、悲笑、譫妄、衄衊、血汙。太陰所至為積飲、痞膈、中滿、霍亂、吐下、身重、胕腫、肉泥按之不起。少陽所至為嚏嘔、瘡瘍、喉痹、耳鳴、嘔湧溢、食不下、驚躁瞀昧、目不明、暴注、瞤瘛、惡病、暴死。陽明所至為鼽嚏、浮虛、皴揭，尻陰、股、膝、髀、腨胻、足病。太陽所至為屈伸不利、腰痛、寢汗、痙流泄禁止，此六氣之為病也。按經旨，則淫勝、郁復、主客、太少皆至其疾，則邪之中人有淺深矣。又在人稟受、沖冒、畏避而矣。原夫人稟五行之氣生，亦從五行之數盡。若起居調養而能避邪安正，無橫夭殃矣。然為七情牽於內，六氣干於外，由是眾疾作而百病生。又況趨逐利名，食迷嗜欲，勞役辛苦，飢渴醉飽，沖涉寒暑，凌冒風雨，觸犯禁忌，殘賊真靈，如是論之，夭傷之由，豈數之盡也，歸咎於己而已。經曰：不知持滿，不時御神，務快於心，逆於生樂者，此之謂也。蓋天之邪氣，感則害人五藏；水穀之寒熱，感則害人六府；燥濕感則害人皮肉筋脈。又喜怒傷氣，寒暑傷形，是知病生之變，亦由乎我也。又或乘年之虛，失時之和，遇之空則邪甚矣。重感於邪，則病危矣。雖然氣運交相臨遇，相得則和，不相得則病。或瘟疫時氣，一州一縣，無問大小皆病者，斯固氣運自然，若我之真元氣實，起居有時，動作無相沖冒，縱使瘟疫之作亦微。是故聖人有養生修真之術也。或者以為天地五運六氣如何人病，蓋人之五藏應天地五行，陰陽之氣隨其卷舒衰旺故也。王冰以為蒼天布氣尚不越於五行，人在氣中，豈不應於天道？故隨氣運陰陽之盛衰，亦理之自然也，但五運六氣為疾而感之者多矣。又經曰：冬傷寒，春病溫；春傷風，夏飧泄；夏傷暑，秋痎瘧；秋傷濕，冬咳嗽。傷四時之氣，皆能為病。又有四方之氣不同，為病各異，故經有「異法方宜」之論，以得病之情者是也。又或當歲有病，而非歲氣者，亦須原其所感，形症脈候未必盡為運所作，在工以明之，庶免拘於氣運也。
                        </p>
                        <p>六病歌</p>
                        <p>厥陰筋緛縮裡急，緛戾支脅痛嘔泄。少陰寒熱慄疹瘍，驚惑悲笑譫衄衊。太陰積飲痞滿中，身重胕腫霍亂別。少陽喉痹嚏嘔瘍，耳鳴湧溢驚躁制，暴注瞀昧目不明瞤瘛惡病暴死滅。陽明鼽嚏皴揭（浮虛），浮尻陰股腨是病切。太陽寢汗若屈伸，流泄禁止腰痛折。
                        </p>
                        <p>二十六、論治法</p>
                        <p>主客之氣皆能至其疾，下是主氣，上是客氣。經曰：木位之主，其瀉以酸，其補以辛；厥陰之客，以辛補之，以酸瀉之，以甘緩之；火位之主，其寫以甘，其補以咸；少陰之客，以甘寫之，以咸軟之；少陽之客，以咸補之，以甘寫之，以咸軟之；土位之主，其寫以苦，其補以甘；太陰之客，以甘補之，以苦瀉之，以甘緩之；金位之主，其瀉以辛，其補以酸；陽明之客，以酸補之，以辛瀉之，以苦瀉之；水位之主，其瀉以咸，其補以苦；太陽之客，以苦補之，以咸瀉之，以苦堅之，以辛潤之。此六氣主客之補瀉也。客勝則瀉客補主，主勝則瀉主補客，應隨當緩當急以治之也。而本經又有六氣司天在泉淫勝之治法，有司天在泉反勝之治法，有歲運上下所宜藥食之治法，如是不一，各依疾苦，順其運令，以藥石五味調治之。為工者當明其歲令，察其形症，診其脈息，別其陰陽，依經旨而極救之，何患疾之不差耶？五運之中又有必折其鬱氣，先取化源之法。《玄珠》以為太陽司天，取九月瀉水之源。陽明司天，取六月瀉金之源。少陰、少陽司天，取三月瀉火之源。太陰司天，取五月瀉土之源。厥陰司天，取年前十二日瀉木之源。乃用針迎而取之法也。故曰無失天信，無逆氣宜，無翼其勝，無贊其復，是謂主治者，此也。蓋用之制有法存焉，然病有久新；方有大小，有毒無毒，因宜而制，此用藥之大法也。或者以為歲運太角木旺土衰，迎取之當瀉其肝經，而益其脾胃，此非通論也，何者？豈有人人藏府皆同者，假如肝元素虛，脾氣太勝，遇此太角之運，肝木稍實，脾氣得平，方獲安和。若便瀉肝補脾，所謂實實虛虛，損不足益有餘，如此而死者，醫殺之耳，是不容其誤，蓋害人增疾則尤甚也，何則？天下事物之理，益之則遲，而損之則速。若服一藥取其效，則緩而微。若食一發病之物，俄頃而知。由是觀之，成難毀易，可不謹哉？
                        </p>
                        <p>六氣主客補瀉法歌</p>
                        <p>木主酸（收）瀉辛（散）補之。火主甘寫取舒緩咸補（取柔軟）施，土主苦寫（取堅燥）甘味（安緩）補，金主辛瀉（取散）酸補（取收）為，水主咸寫（取軟）苦順（取堅）是，六氣補瀉客後隨。苦（味）急（散）酸寫（辛補）甘（味）緩（收）厥，甘寫酸收（苦緩）少陰知，咸補甘寫咸軟相，甘補苦寫甘緩脾，酸補昔（味）寫肺經（氣上逆）施，苦補咸寫與水推，更以苦堅以辛潤，苦燥同極（太陽）尤其宜。
                        </p>
                        <p>二火之氣雖殊，其用則一。木用辛補，酸瀉。經注辛味散，故補。酸味收，故瀉。《校正》云自為一義，今未詳法，復司氣可犯無犯，如夏寒甚，則可熱犯，熱不甚，則不可犯。</p>
                        <p>五藏所入之味歌</p>
                        <p>酸主收之屬肝藏，苦堅入心甘緩脾，辛性味散能調肺，咸則軟兮於腎宜。</p>
                        <p>六氣所宜之味歌</p>
                        <p>鹹寒二火木辛涼，甘熱當令治太陽，苦折太陰宜苦熱，陽明之味苦溫嘗。</p>
                        <p>二十七、論六病</p>
                        <p>明陰陽運轉之六氣，辨南北歲政之尊卑，察主勝客勝之由，審淫勝郁復之變，須在脈，然後為工矣。五運不及，則所勝者來克；五運太過，則不勝者受邪。天地六氣，互相臨遇，應則順，否則逆。氣相得則和，不相得則病。唯天地勝復之氣不形於證者，乃初氣終三氣，天之勝，四氣盡終氣，地之復。蓋以氣不以位，故不以形症觀察也，余則當知六脈。故經曰：厥陰之至其脈弦，少陰之至其脈鉤，太陰之至其脈沉，少陽之至其脈大而浮，陽明之至其脈短而澀，太陽之至其脈大而長。至而和則平，至而甚則病。至而反者病，至而不至者病，未至而至者病，陰陽易者危，不當其位者病，（見於他位也。）迭易其位者病，（左見右脈，右見左脈。）失守其位者危。（脈已見於他鄉，本宮見賊殺之氣，故病危，）此之謂也。然人之生也，雖五行備於一身，生氣根於內，亦隨天地之氣卷舒也，何以明之？謂如春脈弦，夏脈洪，秋脈毛，冬脈石是也。夫人感運氣而生，亦曰感運氣而疾。經曰：逆之則變生，變生則病，物生其應也，氣脈其應也，當立歲氣以診別之，「平人氣象論」曰：太陽脈至洪大而長，少陽脈至乍數乍疏、乍短乍長，陽明脈至浮大而短。《難經》引此亦論三陰三陽之脈者，乃以陰陽始生之淺深而言之也，六脈者，（指前厥陰之至其脈弦等，）蓋言運與氣，勝復臨遇，正當行令，當其司化之時而應，故脈之動不相同。若交氣交運時日，及期而見，無相先後、不及太甚，方謂之平，若差之者，當知其病也。
                        </p>
                        <p>二十八、論南北政</p>
                        <p>運用十干起，則君火不當其運也。六氣以君火為尊，五運以濕土為尊，故甲己土運為南政。蓋土以成數，貫金木水火，位居中央，君尊南面而行令，餘四位以臣事之，北面而受令，所以有別也。而人脈應之，甲己之歲二運南面論脈，則寸在南，而尺在北。少陰司天，兩寸不應，乃以南為上，北為下，正如男子面南受氣尺脈常弱；女子面北受氣尺脈常盛之理同。以其陰氣沉下故不應耳。六氣之位則少陰居中，而厥陰居右，太陰居左，此不可易也。其少陰則主兩寸尺，厥陰司天，在泉當在右，故右不應。太陰司天，在泉當在左，故左不應，依南政而論尺寸也。若覆其手診之，則陰沉於下，反沉為浮，細為大矣。又經曰：尺寸反者死，陰陽交者死。先立其年以知其氣，左右應見，然後乃可言死生之逆順者，更在診以別其反，詳其交，而後造死生之微也。
                        </p>
                        <p>南北政圖歌</p>
                        <p>歌曰</p>
                        <p>土位居南號曰君，火金木水北方臣，運須濕土（起甲己故）當尊位，六氣仍先君火論。</p>
                        <p>南政司天之圖</p>
                        <p>北政司天之圖</p>
                        <p>二十九、論運氣加臨尺寸脈候不應交反說</p>
                        <p>經曰：陰陽交者死，謂歲當陽在左，脈反見右；歲當陰在右，脈反見左，左右交見是謂交。若左獨然，或右獨然，是不應，非交也。惟寅、申、巳、亥、辰、戌、醜、未八年有之。經曰：尺寸反者，謂歲當陰在寸，而脈反見於尺；歲當陽在尺，而脈反見於寸，尺寸俱反，方謂之反。若尺獨然，或寸獨然，是不應，非反也。惟子、午、卯、酉四年有之。蓋造化之氣變常，則氣血紛擾而為病矣。經曰：先立其年，以和其氣，左右應見，乃可以言死生之逆順也。舉此為例，餘歲同法。粗工不知，呼為寒熱。攻寒令熱，脈不變而熱疾已生，制熱令寒，脈如是而寒疾又起，欲求其適，安可得乎？夭枉之因，率由此也。凡三陰司天，在泉，上下南北二政，或左或右，兩手寸尺其脈沉下，沉下不相應者，覆手，則沉為浮，細為大矣。
                        </p>
                        <p>機按：左右交見，惟寅、申、巳、亥、辰、戌、醜、未八年有之，上下相反惟子、午、卯、酉四年有之。蓋太陰、厥陰主左右，言少陽主寸尺言故也。</p>
                        <p>尺寸交反死脈歌</p>
                        <p>如太陰司天，陰脈歲當見左寸，反見右寸，其右寸本然陽脈，而移左寸，曰陰陽交，交者死。若左獨陰脈不見，或右獨不見，乃不應陰氣，止病而已，尺同。惟寅、申、巳、亥、辰、戌、醜、未八年有之。少陰司天，陰脈歲當見兩寸，反見兩尺，其兩尺本然陽脈，而移兩寸，曰尺寸反，反者死，尺同。尺寸獨義同前，惟子、午、卯、酉四年有之。
                        </p>
                        <p>歌曰</p>
                        <p>左寸交右右交左，右尺交左左交右，兩寸反移兩尺居，兩尺反移兩寸守。</p>
                        <p>南北政寸尺脈不應圖歌及古案</p>
                        <p>不應謂陰之所在，脈乃沉細不應，本脈也，若覆手診之，則沉為浮，細為大矣。尺寸本無上下，今以上下字言之，以別南北政，司天在泉所主耳。</p>
                        <p>歌曰</p>
                        <p>南政寸上尺居下，北政尺上寸下推，三陰司天不應上，在泉於下不應之，太陰須診左寸尺，厥陰右手寸尺持，少陰脈兼兩寸尺，此理微妙誠難知。</p>
                        <p>按脈不應，專指三陰言，然少陰君主也，故主兩寸兩尺，所以少陰司天，兩寸不應；少陰在泉，兩尺不應，子之左醜屬太陰，故太陰司天，左寸不應；太陰司地，左尺不應。子之右亥屬厥陰，故厥陰司天，右寸不應；厥陰在泉，右尺不應。但看三陰所在，司天主寸，在泉主尺，不論南政北政，此要法也。
                        </p>
                        <p>一人臥病，醫診左尺不應，以為腎已絕矣，死在旦夕。更醫診之，察色切脈，則面戴陽，氣口皆長而弦，乃傷寒三陽合病也。又方涉海為風濤所驚，遂血鬱而神懾，為熱所搏，乃吐血一升許，且脅痛，煩渴，譫語，投小柴胡湯，減參，加生地，半劑後，俟其胃實，以承氣湯下之而愈，適是年歲運，左尺當不應，此天和脈，非腎絕也。
                        </p>
                        <p>三十、五運主病治例</p>
                        <p>凡遇六壬年，發生之紀，歲木太過，風氣流行，脾土受邪，民病飧泄，食減，體重，煩冤，腸鳴，腹支滿，甚則忽忽善怒，眩冒顛疾。為金所復，則反脅痛而吐，甚則衛陽絕者死。</p>
                        <p>蒼朮湯　治脾胃感風，飧泄注下，腸鳴腹滿，四肢重滯，忽忽善怒，眩冒顛暈，或左脅偏疼。</p>
                        <p>白茯苓（去皮）　厚朴（姜葉制）　白朮　青皮（去白）　乾薑（炮）　半夏（湯洗）　草果（去殼）　甘草（炙，各等分）</p>
                        <p>上為㕮咀，每服四錢，水一大盞，姜三片，棗二枚，煎七分，去滓，食前服，以效為度。</p>
                        <p>凡遇六戊年，赫曦之紀，歲火太過，炎暑流行，肺金受邪，民病瘧，少氣咳喘，血溢血泄，注下，嗌燥，耳聾，中熱，肩背熱，甚則胸中痛，脅支滿，背肩並兩臂痛，身熱骨痛，而為浸淫。為水所復，則反譫妄狂越，喘鳴，血溢，泄不已，甚則太淵絕者死。
                        </p>
                        <p>麥門冬湯　治肺經受熱，上氣咳喘，咯血痰壅，嗌乾，耳聾，泄瀉，胸脅滿痛，連肩背兩臂膊痛，息高。</p>
                        <p>麥門冬（去心）　香白芷　半夏（洗滑）　桑白皮　竹葉　甘草（炙）　紫菀茸　鍾乳粉　人參（各等分）</p>
                        <p>上㕮咀，每服四錢，水一大盞，姜三片，棗二枚，煎七分，去滓，食前服，以效為度。</p>
                        <p>凡遇六甲年，敦阜之紀，歲土太過，雨濕流行，腎水受邪，民病腹痛，清厥，意不樂，體重，煩冤，甚則肉痿，足痿不收，行善瘛，腳下痛，中滿，食減，四肢不舉。為風所復，則反腹脹，溏泄，腸鳴，甚則太谿絕者死。
                        </p>
                        <p>附子山茱萸湯　治腎經受濕，腹痛，寒厥，足痿不收，腰脽痛，行步艱難，甚則中滿不下，或腸鳴溏泄。</p>
                        <p>附子（炮去皮臍）　山茱萸（各一兩）　半夏（洗去滑）　丁香（一分）　烏梅（半兩）　木瓜干　肉豆蔻（各三分）　藿香（一分）</p>
                        <p>上㕮咀，每服四錢，水一大盞，姜七片，棗一枚，煎七分，去滓，食前服，以效為度。</p>
                        <p>凡遇六庚年，堅成之紀，歲金太過，燥氣流行，肝木受邪，民病脅小腹痛，目赤，背癢，耳無聞，體重，煩冤，胸痛引背，脅滿引小腹，甚則喘咳逆氣，背肩痛，尻陰、股膝、髀腨、□胻足痛。為火所復，則暴痛，胠脅不可反側，咳逆，甚而血溢，太衝絕者死。
                        </p>
                        <p>牛膝木瓜湯　治肝虛遇歲燥，脅連小腹拘急，疼痛，耳聾，目赤，咳逆，肩背連尻陰、股膝、髀腨。胻皆痛，悉主之。</p>
                        <p>牛膝（去茜酒浸）　木瓜（各一兩）　芍藥　杜仲（去皮，薑汁製炒斷絲）　枸杞子　黃柏節　菟絲子（酒浸）　天麻（各三分）　甘草（炙，半兩）</p>
                        <p>上㕮咀，每服四錢，水大盞，姜三片，棗一枚，煎七分，去滓，食前服，以效為度。</p>
                        <p>凡遇六丙年，漫術之紀，歲水太過，寒氣流行，邪害心火，民病身熱煩心，躁悸，上下中寒，譫妄，心痛，甚則腹大脛腫，喘咳，寢汗，憎風。為土所復，則反脹滿，腸鳴溏泄，食不化，渴而妄冒，甚則神門絕者死。
                        </p>
                        <p>川連茯苓湯　治心虛為寒冷所中，心熱躁，手足反寒，心腹腫痛，病喘咳，自汗，甚則大腸便血。</p>
                        <p>黃連（去須）　茯苓（各一兩）　麥門冬（去心）　車前子（炒）　通草　遠志（去心，薑汁製炒，各半兩）　半夏（洗去滑）　黃芩（去外腐）　甘草（炙，各半兩）</p>
                        <p>上為㕮咀，每服四錢，水一盞，姜三片，棗一枚，煎七分，去滓，食前服，以效為度。</p>
                        <p>凡遇六丁年，委和之紀，歲木不及，燥乃盛行，民病中清，胠脅痛，小腹痛，腸鳴溏泄。為火所復，則寒熱，瘡瘍，痤疿，癰腫，咳而鼽。</p>
                        <p>蓯蓉牛膝湯　治肝虛為燥熱所傷，胠脅並小腹痛，腸鳴溏泄，或發熱，遍體瘡瘍，咳嗽，肢滿，鼻鼽。</p>
                        <p>肉蓯蓉（酒浸）　牛膝（酒浸）　乾木瓜　白芍藥　熟地黃　當歸（去苗）　甘草（炙，各等分）</p>
                        <p>上㕮咀，每服四錢，水一大盞，姜三片，烏梅半枚，煎七分，去滓，食前服，筋痿腳弱者，鎊鹿屑同煎。</p>
                        <p>凡遇六癸年，伏明之紀，歲火不及，寒乃盛行，民病胸痛，脅府滿，膺背、肩胛、兩臂內痛，鬱冒矇昧，心痛，暴喑，甚則屈不能伸，髖髀如別。為土所復，則反鶩溏泄，食飲不下，寒中，腸鳴泄注，腹痛，暴攣，痿痹，足不能任身。
                        </p>
                        <p>黃耆茯神湯　治心虛挾寒，心胸中痛，兩脅連肩背，肢滿，噎塞，鬱冒矇昧，髖髀攣痛，不能屈伸，或不能利，溏泄，飲食不進，腹痛，手足痿痹不能任身。</p>
                        <p>黃耆　茯神（去水）　遠志（去心，薑汁製炒）　紫河車　酸棗仁（炒，各等分）</p>
                        <p>上㕮咀，每服四錢，水一大鐘，姜三片，棗一枚，煎七分，去滓，食前服，以效為度。</p>
                        <p>凡遇六己年，卑監之紀，歲土不及，風氣盛行，民病飧泄，霍亂，體重，身痛，筋骨繇，並肌肉瞤酸，善怒。為金所復，則反胸脅暴痛，下引小腹，善太息，氣客於脾，食少味。</p>
                        <p>白朮厚朴湯　治脾虛風冷所傷，心腹脹滿疼痛，四肢筋骨重弱，肌肉瞤動，酸廝，善怒，霍亂，吐瀉，或脅胸暴痛，下引小腹，善太息，食少失味。</p>
                        <p>白朮　厚朴（姜炒）　半夏（洗去滑）　桂心　藿香（去梗）　青皮（去白，各三兩）　乾薑（炮）　甘草（炙，各半兩）</p>
                        <p>上㕮咀。每服四錢，水一大盞，姜三片，棗一枚，煎七分，去滓，食前服，以效為度。</p>
                        <p>凡遇六乙年，從革之紀，歲金不及，火盛行，民病肩背瞀重，鼽嚏，血便注下。為水所復，則反頭腦戶痛，症及囟頂，發熱，口瘡，心痛。</p>
                        <p>紫菀湯　治肺虛感熱，咳嗽喘滿，自汗，衄血，肩背瞀重，血便注下，或腦戶連囟頂痛，發熱，口瘡，心痛。</p>
                        <p>紫菀茸　白芷　人參　甘草　黃耆　地骨皮　杏仁（去皮，炙）　桑白皮（炙，各等分）</p>
                        <p>上㕮咀，每服四錢，水一大盞，姜三片，棗一枚，煎七分，去滓，飢時服，以效為度。</p>
                        <p>凡遇六辛年，涸流之紀，歲水不及，濕乃盛行，民病腫滿身重，濡泄，寒瘍，腰膕、腨、股、膝、痛不便，煩冤，足痿清厥，腳下痛，甚則胕腫，腎氣不衡。為木所復，則反面色時變，筋骨並闢，肉瞤瘛，目視䀮䀮，肌肉胗發，氣並膈中，痛於心腹。
                        </p>
                        <p>五味子湯　治腎氣虛，坐臥濕地，腰重著疼痛，腹脹滿，濡泄無度，行步難，足痿清厥，甚則浮腫，面色不常，或筋骨並臂瞤瘛，目視䀮䀮，膈中及咽痛。</p>
                        <p>五味子　附子（炮去皮臍）　巴戟（去心）　鹿茸（燎去毛酥炙）　山茱萸（去子）　熟地黃　杜仲（薑汁浸炒去絲，各等分）</p>
                        <p>上㕮咀，每服四錢，水一大盞，姜三片，鹽少許煎七分，去滓，食前服，以效為度。</p>
                        <p>凡六壬、六戊、六甲、六庚、六丙歲，乃木、火、土、金、水太過，為五運先天；六癸、六丁、六己、六乙、六辛歲，乃木、火、土、金、水不及，為五運後天。民病所感治之，各以五味所勝調和，以平為期。
                        </p>
                        <p>三十一、六氣主病治例</p>
                        <p>風勝燥制火併湯</p>
                        <p>天南星（二兩半）　北桔梗（七錢半）　小梔子（一兩，取仁。已上三味入太陰肺經，助燥化制其風）　川黃連（八錢五分，此一味入少陰心經，瀉火抑母之甚。母者，木也。此實則瀉子也）　青皮（二錢半，引諸藥至風勝之地）　防風（三錢，去蘆）　薄荷（一錢，此二味散風之勢）
                        </p>
                        <p>上製為粗末，每服七錢半，姜三片，水一大鐘，煎至七分，去滓溫服。</p>
                        <p>水勝濕制風並湯</p>
                        <p>蒼朮（二兩，米泔浸）　白朮（二兩半，麥殼炒，去麥殼）　甘草（五錢，炙。已上三味入足太陰脾經，助土以制水甚）　吳茱萸（五錢）　乾薑（五錢七分，此二味入厥陰肝經，瀉水，少抑母甚。母者，水也，此實則寫子也）　附子（一錢乙字，引諸藥至水勝之地銼）
                        </p>
                        <p>上銼為粗，每服七錢，大棗一枚，水一鍾，煎至七分，去滓溫服。</p>
                        <p>火勝寒制濕並湯</p>
                        <p>黃柏（二兩半，鹽水炒）　知母（一兩，去毛。已上二味入少陰腎經，助寒化以制火甚）　片黃芩（五錢，酒炒）　梔子仁（小紅者，此二味入太陰脾經，助濕化抑母甚）　黃連（一錢，薑汁炒，引諸藥至火勝之地）
                        </p>
                        <p>上銼為粗末，每服七錢，燈心七根，蓮子五枚，水一碗，煎至七分，去滓溫服。</p>
                        <p>土勝風制燥並湯</p>
                        <p>川芎（一兩，去蘆，米醋炒。經云：木位之主，其補以辛，川芎味辛氣溫）　當歸（一兩半，酒洗。此二味入厥陰肝經，助風化，以制其溫）　南星（一兩，湯泡一次）　桑白皮（七錢，蜜炙，去皮土。此二味瀉燥奪母）　大棗（五枚，引諸藥至濕勝之地）　川萆薢（八錢，以散其濕）
                        </p>
                        <p>上銼為粗末，每服七錢，姜五大片，水一碗，煎至七分，去滓溫服。</p>
                        <p>熱制寒並湯</p>
                        <p>肉桂（二兩，去粗皮，此味入少陰心經，助熱化以制金甚）　當歸（一兩，半酒洗。此味助木生火以制燥甚）　澤瀉（一面，去毛。此味入少陰腎經，瀉寒以抑母甚）　獨活（六錢，此味與澤瀉頗同）　桔梗（三錢半，引諸藥至燥勝之地）
                        </p>
                        <p>上銼為粗末，每服六錢，水一碗，煎七分，去滓溫服，燥易即止。</p>
                        <p>火勝陰精製霧漚潰並湯</p>
                        <p>天門冬（三兩，蜜湯浸，去心）　生地黃（二兩半，酒洗，此二味入陰經助水化以制熱甚）　柴胡（五錢）　連翹　黃芩（各三錢，此三味入霧漚潰抑甚）　地骨皮　黃柏（各二錢半，此二味引諸藥至熱勝之地）
                        </p>
                        <p>上銼為粗末，每服七錢，燈心一撮，水一碗，煎至七分，去滓溫服。</p>
                        <p>五運所化之圖</p>
                        <p>甲己歲氣土化之圖</p>
                        <p>甲</p>
                        <p>歲土太過陽能　是歲泉湧河溢，涸澤亦生魚，風雨大。</p>
                        <p>歲運黃天　至十一崩潰，鱗見於陸。</p>
                        <p>敦阜之紀　平氣備化。</p>
                        <p>甲歲南政</p>
                        <p>太宮之音</p>
                        <p>歲氣雨濕流行，至陰內實，物化克成，其變震驚，飄驟崩潰。</p>
                        <p>腎水受邪，病則腹痛，清厥體重，甚則足痿不收，腳痛中滿，四肢不舉。</p>
                        <p>脾土勝腎水，木為水之子，復能剋土，則反溏泄，甚則太谿絕者死。（足內踝後跟骨上動脈中，腎脈也。（　</p>
                        <p>臨辰戌為歲會，（甲辰甲戌。）下加太陰為同天符。同上。</p>
                        <p>己</p>
                        <p>歲土不及</p>
                        <p>歲運黅天</p>
                        <p>卑監之紀　平氣備化。</p>
                        <p>己歲南政</p>
                        <p>少宮之音</p>
                        <p>歲氣風寒大作，雨乃愆期，草木秀而不實。</p>
                        <p>脾土受邪，病則飧泄，霍亂，體重腹痛。</p>
                        <p>肝木克脾土，金為土之子，復能克肝木，則反腳脅暴痛，下引小腹。</p>
                        <p>臨辰戌丑未為歲會，（甲辰甲戌己丑己未。）上見太陰為太乙天符，（己丑己未，）下臨厥陰，（己巳己亥，）流水不冰，蟄蟲來見，民乃康。</p>
                        <p>乙庚歲氣金化之圖</p>
                        <p>乙</p>
                        <p>歲金不及</p>
                        <p>歲運素天</p>
                        <p>從革之紀耳其　平氣審平。</p>
                        <p>乙歲北政</p>
                        <p>少商之音</p>
                        <p>歲氣炎火盛行，生氣乃用，燥石流金，涸泉焦草。</p>
                        <p>肺金受邪，病則肩背膂重，鼽血，血便，注下。</p>
                        <p>心火克肺金，水為金之子，復能克心火，則反心痛，腦痛，延及囟頂痛，發熱，口瘡，心痛。</p>
                        <p>臨酉為太乙天符，（乙酉。）為歲會。上見陽明為天符。（乙卯。）</p>
                        <p>復則水勝火，寒雨暴至，冰雹雪霜。</p>
                        <p>庚</p>
                        <p>歲金太過</p>
                        <p>歲運素天</p>
                        <p>堅成之紀　平氣審平。</p>
                        <p>庚歲北政</p>
                        <p>太商少音</p>
                        <p>歲氣燥行，天氣潔，地氣明，陽氣隨陰，肅殺凋凌。</p>
                        <p>肝木受邪，病則腹脅痛，目赤，體重，胸痛，脅滿，引小腹，耳無聞，甚則喘咳逆氣，背肩、尻陰、股膝、髀腨胻足痛。</p>
                        <p>肺金克肝木，火為木之子，復能克及肺金，則反血溢，心痛，腳：脅不可轉側，咳逆，太衝絕者死。</p>
                        <p>臨酉為歲會，（乙酉。）下見陽明為同天符。（庚子庚午。）</p>
                        <p>丙辛歲氣水化之圖</p>
                        <p>丙</p>
                        <p>歲水太過　是歲雨水雪霜不時降，濕氣變物。</p>
                        <p>歲運玄天</p>
                        <p>流衍之紀　平氣靜順。</p>
                        <p>丙歲北政</p>
                        <p>太羽之音</p>
                        <p>歲氣天地寒凝，其變冰霜雪雹。</p>
                        <p>心火受邪，病則身熱煩躁，陰厥中寒，甚則腹大，脛腫，喘咳。</p>
                        <p>腎水勝克心火，肝為火之子，復能克腎，反腸鳴溏泄，甚則神門絕者死。（穴在掌後銳骨端，心主脈也。）</p>
                        <p>臨子為歲會，（丙子。）上見太陽為天符。（丙戌丙辰。）</p>
                        <p>辛</p>
                        <p>歲水不及</p>
                        <p>玄運玄天</p>
                        <p>涸流之紀才　平氣靜順。</p>
                        <p>辛歲北政</p>
                        <p>少羽之音</p>
                        <p>歲氣水泉減，草木茂。</p>
                        <p>腎水受邪，病則身重，濡瀉，腫滿，腰膝痛，足痿，清厥，甚則跗腫，腎氣不行。</p>
                        <p>脾土克腎水，木為水之子，復能克脾，則反面色時變，筋肉瞤瘛，膈中痛，及心腹。</p>
                        <p>臨醜為同歲會，（辛丑辛未。）上見太陰。</p>
                        <p>下見太陽為同歲會，則大寒蟄蟲早藏。</p>
                        <p>丁壬歲氣木化之圖</p>
                        <p>丁</p>
                        <p>歲木不及　是歲天地悽愴，日見朦昧，雨非雨。</p>
                        <p>歲運蒼天　睛非睛，氣慘然，氣象凝斂肅殺，甚之。</p>
                        <p>委和之紀　平氣敷和。</p>
                        <p>丁歲北政</p>
                        <p>少角之音</p>
                        <p>歲氣燥氣乃行，生氣不政，涼雨將降，風雪並興，草木晚榮，物秀而實。</p>
                        <p>肝木受邪，病中清，腳脅滿，小腹痛，陽明溏泄。</p>
                        <p>肺金勝肝木，火為木之子，復能剋金，則反寒濕，瘡瘍，痤疿，腫癰，咳血，夏生大熱，溫變為躁，草木槁，下體再生。</p>
                        <p>上見厥陰為天符，（丁巳丁亥。）臨卯為歲會，（丁卯。）上臨陽明，生氣失政，草木再榮。</p>
                        <p>壬</p>
                        <p>歲木太過</p>
                        <p>歲運蒼天</p>
                        <p>發生之紀　平氣敷和。</p>
                        <p>壬歲北政</p>
                        <p>太角之音</p>
                        <p>歲氣風氣流行，生氣淳化，萬物以榮，其變震拉摧拔。</p>
                        <p>脾土受邪，病飧泄，食減，體重，腸鳴，腹痛，脅滿。</p>
                        <p>肝木克脾土，金為土之子，復能勝木，則反脅痛而吐，甚則衝陽絕者死。（穴在足跗上三寸，骨動脈上去陷谷三寸，胃脈也。）</p>
                        <p>臨卯為歲會，（丁卯。）下見厥陰為同天符。（壬申壬寅。）</p>
                        <p>戊癸歲氣火化之圖</p>
                        <p>戊</p>
                        <p>歲火太過　是歲火燔灼，水泉涸，物焦槁。</p>
                        <p>歲運丹天</p>
                        <p>赫曦之紀　平氣升明。</p>
                        <p>戊歲北政</p>
                        <p>太徵之音</p>
                        <p>歲氣陰氣內化，其變則炎烈沸騰。</p>
                        <p>肺金受邪，病則發瘧，少氣喘咳，血溢，泄瀉，胸脅滿痛，背膂痛，身熱骨痛。</p>
                        <p>心火勝肺金，水為金之子，復能勝火，反狂妄，泄瀉，喘咳，血溢，甚則手太陰太淵絕者死，穴在掌後陷中，肺脈也。</p>
                        <p>臨子為太乙天符，（戊子為天符，戊午為太乙天符。）上見少陰少陽為天符。（戊午戊子戊寅戊申。）</p>
                        <p>癸</p>
                        <p>歲火不及</p>
                        <p>歲運丹天</p>
                        <p>伏明之紀　平氣升明。</p>
                        <p>癸歲北政</p>
                        <p>少徵之音</p>
                        <p>歲氣歲寒乃盛行，火令不政，物生不長，陽氣屈伏，蟄蟲早藏。</p>
                        <p>心火受邪，病則胸脅膺背痛，鬱冒，暴喑，臂痛。</p>
                        <p>腎水勝心火，土為火之子，復能克腎，則反寒中，腸鳴泄注，攣痹，足不任身。</p>
                        <p>臨卯酉為同歲會，（癸酉癸卯。）下見少陰少陽為同歲會。（癸卯癸酉癸巳癸亥。）</p>
                        <p>六氣所化之圖</p>
                        <p>子午歲氣熱化之圖</p>
                        <p>少陰司天　陽明在泉</p>
                        <p>初氣　厥陰風木</p>
                        <p>太陽寒水加</p>
                        <p>天時　寒風切冽，雪水冰，蟄復藏。</p>
                        <p>民病　關節禁固，腰脽痛，中外瘡瘍。</p>
                        <p>二氣　少陰君火</p>
                        <p>厥陰風木加</p>
                        <p>天時　風雨時寒，雨生羽蟲</p>
                        <p>民病　淋氣，郁於土而熱，令人目赤。</p>
                        <p>三氣　少陽相火</p>
                        <p>少陰　君火加</p>
                        <p>天時　大火行，熱氣時至，羽蟲靜。（不鳴也，燕百舌杜宇之類。）</p>
                        <p>民病　厥熱心痛，寒熱更作，咳喘，目赤。</p>
                        <p>四氣　太陰濕土</p>
                        <p>太陰濕土加</p>
                        <p>天時　大雨時行，寒熱互作。</p>
                        <p>民病　黃疸，鼽衄，嗌乾，吐飲。</p>
                        <p>五氣　陽明燥金</p>
                        <p>少陽相火加</p>
                        <p>天時　溫氣乃至，初冬尤暖，萬物乃榮。</p>
                        <p>民病　康安。伏邪於春為瘧。</p>
                        <p>終氣　太陽寒水</p>
                        <p>陽明燥金加</p>
                        <p>天時　燥寒勁切，火尚毒，寒暴至。</p>
                        <p>民病　上腫咳喘，甚則血溢，下連小腹，而作寒中。</p>
                        <p>丑未歲氣濕化之圖</p>
                        <p>太陰司天　太陽在泉</p>
                        <p>初氣　厥陰風木</p>
                        <p>厥陰風木加</p>
                        <p>天時　大風發榮，雨生毛蟲。</p>
                        <p>民病　血溢，筋絡拘強，關節不利，身重筋痛。</p>
                        <p>二氣　少陰君火</p>
                        <p>少陰君火加</p>
                        <p>天時　大火至，天下疵疾，以其得位，君令宣行，濕蒸相薄，雨時降。</p>
                        <p>民病　瘟疫盛行，遠近鹹苦。</p>
                        <p>三氣　少陽相火</p>
                        <p>太陰濕土加</p>
                        <p>天時　雷雨電雹，地氣騰，濕氣降。</p>
                        <p>民病　身重跗腫，腹胸滿感，寒濕氣。</p>
                        <p>四氣　太陰濕土</p>
                        <p>少陽相火加</p>
                        <p>天時　炎熱沸騰，地氣升，天氣否隔，濕化不流。</p>
                        <p>民病　腠理熱，血暴溢，患瘧，心腹䐜脹，甚則浮腫。</p>
                        <p>五氣　陽明燥金</p>
                        <p>陽明燥金加</p>
                        <p>天時　大涼，霜早降，寒及體。</p>
                        <p>民病　皮膚寒。</p>
                        <p>終氣　太陽寒水</p>
                        <p>太陽　寒水加</p>
                        <p>天時　大寒凝冽。</p>
                        <p>民病　關節禁固，腰脽痛。</p>
                        <p>寅申歲氣火化之圖</p>
                        <p>少陽司天　厥陰在泉</p>
                        <p>初氣　厥陰風木</p>
                        <p>少陰君火加</p>
                        <p>天時　熱風傷人，時氣流行</p>
                        <p>民病　濕氣拂於上，血溢目赤，咳逆，頭痛，血崩，脅滿痛，皮膚生瘡。</p>
                        <p>二氣　少陰君火</p>
                        <p>太陰濕土加</p>
                        <p>天時　時雨至，火反郁，風不勝濕。</p>
                        <p>民病　熱鬱，咳逆吐，胸臆不利，頭痛身熱，昏憒，膿瘡。</p>
                        <p>三氣　少陽相火</p>
                        <p>少陽相火加</p>
                        <p>天時　熱暴至，草萎，河干，大暑炎亢，濕化晚布，大旱。</p>
                        <p>民病　熱病，聾瞑，血溢，膿瘡，咳逆，鼽衄發渴，喉痹，目赤，善暴死。</p>
                        <p>四氣　太陰濕土</p>
                        <p>陽明燥金加</p>
                        <p>天時　涼風至，炎暑未去，風雨及時。</p>
                        <p>民病　民氣和平，身重中滿，脾寒泄瀉。</p>
                        <p>五氣　陽明燥金</p>
                        <p>太陽寒水加</p>
                        <p>天時　陽乃去，寒乃來，雨乃降，剛木早凋。</p>
                        <p>民病　民避寒邪，君子<a href=https://www.zhonghuadiancang.com/renwu/zhoumi/ target=_blank
                                class=infotextkey>周密</a>，病則骨痿，目赤痛。</p>
                        <p>終氣　太陽寒水</p>
                        <p>厥陰風木加</p>
                        <p>天時　地風正，寒風飄揚，萬物反生，寒氣至，雨生鱗蟲。</p>
                        <p>民病　關節不禁，心腹痛，陽氣不藏。</p>
                        <p>卯酉歲氣燥化之圖</p>
                        <p>陽明司天　少陰在泉</p>
                        <p>初氣　厥陰風木</p>
                        <p>太陰濕土加</p>
                        <p>天時　陰始凝，氣始肅，水乃冰，寒雨化，花開遲。</p>
                        <p>民病　熱脹面腫，鼽衄，欠嚏，嘔吐，小便赤，甚則淋。</p>
                        <p>二氣　少陰君火</p>
                        <p>少陽相火加</p>
                        <p>天時　臣居君位，大熱早行。</p>
                        <p>民病　疫癘大至，善暴死。</p>
                        <p>三氣　少陽相火</p>
                        <p>陽明燥金加</p>
                        <p>天時　燥熱交合，涼風間發。</p>
                        <p>民病　上逆下冷，瘧痢，心煩不食。</p>
                        <p>四氣　太陰濕土</p>
                        <p>太陽寒水加</p>
                        <p>天時　早秋。寒雨害物。</p>
                        <p>民病　暴僕振慄，妄言少氣，咽乾引飲，心痛膺腫，瘡瘍寒瘧，骨痿便血。</p>
                        <p>五氣　陽明燥金</p>
                        <p>厥陰風木加</p>
                        <p>天時　春令又行，草木盛，生雨，生介蟲。</p>
                        <p>民病　氣和。熱行包絡，面浮上壅。</p>
                        <p>終氣　太陽寒水</p>
                        <p>少陰君火加</p>
                        <p>天時　氣候反溫，蟄蟲出現，流水不冰，此下克上。</p>
                        <p>民病　伏邪濕毒，季春發疫。</p>
                        <p>辰戌歲氣寒化圖</p>
                        <p>太陽司天　太陰在泉</p>
                        <p>初氣　厥陰風木</p>
                        <p>少陽相火加</p>
                        <p>天時　氣早暖，草早榮，瘟疫至</p>
                        <p>民病　瘟疫，身熱，頭痛，嘔吐，瘡瘍。</p>
                        <p>二氣　少陰君火</p>
                        <p>陽明燥金加</p>
                        <p>天時　大涼反至，早乃遇寒，火氣遂抑。</p>
                        <p>民病　氣鬱中滿，風腫。</p>
                        <p>三氣　少陽相火</p>
                        <p>太陽寒水加</p>
                        <p>天時　寒熱不時，寒氣間至，熱爭，水雹。</p>
                        <p>民病　寒反熱中，癰疽，注下，心熱悶瞀，逆，吐利不治者也死。</p>
                        <p>四氣　太陰濕土</p>
                        <p>厥陰風木加</p>
                        <p>天時　風濕交爭，雨生倮蟲，木盛生風，暴雨摧拔。</p>
                        <p>民病　大熱少氣，足痿，注下，赤白，血滯成癰。</p>
                        <p>五氣　陽明燥金</p>
                        <p>少陰君火加</p>
                        <p>天時　濕熱而寒，客行主令。</p>
                        <p>民病　氣舒。病則血熱妄行，肺氣癰。</p>
                        <p>終氣　太陽寒水</p>
                        <p>太陰濕土加</p>
                        <p>天時　地氣正濕令行，凝陰寒雪。</p>
                        <p>民病　病乃悽慘，孕死，脾受濕，肺旺腎衰。</p>
                        <p>巳亥歲氣風化之圖</p>
                        <p>厥陰司天　少陽在泉</p>
                        <p>初氣　厥陰風木</p>
                        <p>陽明燥金加</p>
                        <p>天時　寒始肅，客行主令，殺氣方至。</p>
                        <p>民病　寒居右脅，氣滯，脾虛胃壅。</p>
                        <p>二氣　少陰君火</p>
                        <p>太陽寒水加</p>
                        <p>天時　寒不去，霜雪冰，殺氣施，化草焦，寒雨數至。</p>
                        <p>民病　熱中，氣血不升降。</p>
                        <p>三氣　少陽相火</p>
                        <p>厥陰風木加</p>
                        <p>天時　風熱大作，雨生羽蟲。</p>
                        <p>民病　淚出，耳鳴，掉眩。</p>
                        <p>四氣　太陰濕土</p>
                        <p>少陰君火加</p>
                        <p>天時　熱氣反用，山澤浮雲，暴雨溽濕。</p>
                        <p>民病　心受邪，黃疸而為跗腫。</p>
                        <p>五氣　陽明燥金</p>
                        <p>太陰濕土加</p>
                        <p>天時　燥濕足勝，沉陰乃布，雨水乃行。</p>
                        <p>民病　寒氣及體，肺受風，脾受濕，發為瘧。</p>
                        <p>終氣　太陽寒水</p>
                        <p>少陽相火加</p>
                        <p>天時　畏火司令，陽乃火化，蟄蟲出現，流水不冰，地氣大發，草乃生。</p>
                        <p>民病　瘟癘，必腎相制。</p>
                        <p>三十二、六氣時行民病證治</p>
                        <p>辰戌之歲，太陽司天，太陰在泉，氣化運行先天。初之氣，乃少陽相火，加臨厥陰風木，民病溫，身熱頭疼，嘔吐，肌腠瘡瘍。二之氣，陽明燥金，加臨少陰君火，民病氣鬱中滿。三之氣，太陽寒水，加臨少陽相火，民病寒，反熱中，癰疽注下，心中熱瞀悶，四之氣，厥陰風木，加臨太陰濕土，民病大熱少氣，肌肉痿，足痿，注下赤白。五之氣，少陰君火，加臨陽明燥金，民乃舒。終之氣，太陰濕土，加臨太陽寒水，民乃悽愴，孕死。治去甘溫以平，酸苦以補，抑其運氣，扶其不勝。
                        </p>
                        <p>靜順湯　治辰戌之歲，太相司天，太陰在泉，病者身熱，頭痛，嘔吐，氣鬱中滿，瞀悶，少氣，足痿，注下赤白，肌腠瘡瘍，發為癰疽。</p>
                        <p>白茯苓（去皮）　乾木瓜（各一兩）　附子（炮，去皮臍）　牛膝（去苗，酒浸，各三兩）　防風（去釵）　訶子（煨，　去核）　甘草（炙）　乾薑（炮，各半兩）</p>
                        <p>上㕮咀，每服四錢，水一大盞，煎七分，去滓，食前服，其年自大寒至春分，宜用附子加枸杞半兩；自春至小滿，依前入附子同枸杞；自小滿至大暑，去附子、木瓜、乾薑，加人參、枸杞、地榆、香白芷、生薑各三分；自大暑至秋分，依正方加石榴皮半兩；秋分至小雪依正方；自小雪至大寒，去牛膝，加當歸、芍藥、阿膠炒各三分。
                        </p>
                        <p>卯酉之歲，陽明司天，少陰在泉，氣化運行後天。初之氣，太陰濕土，加臨厥陰風木，此下克上，民病中熱脹，面目浮腫，善眠鼽衄，嚏欠嘔，小便黃赤，甚則淋。二之氣，少陽相火，加臨少陰君火，民病厲大至，善暴死。三之氣，陽明燥金，加臨少陽相火，民病寒熱。四之氣，太陽寒水，加臨太陰濕土，此下土克上水，民病暴僕，振慄，譫妄，少氣咽乾，引飲，心痛，癰腫，瘡瘍，寒瘧，骨痿，便血。五之氣，厥陰風木，加臨陽明燥金，民氣和。終之氣，少陰君火，加臨太陽寒水，此克上，民病溫。治法宜鹹寒以抑火，辛甘以助金，汗之，清之，散之，以安其運氣。
                        </p>
                        <p>審平湯　治卯酉之歲，陽明司天，少陰在泉，病者中熱，面浮，鼽鼻，少便黃赤，甚則淋，或癘氣行，善暴僕，振慄，譫妄，寒瘧，癰腫，便血。</p>
                        <p>遠志（去心，薑汁炒）　紫檀香（各一兩）　天門冬（去心）　山茱萸（各二分）　白芍藥　白朮　甘草　生薑（各半兩）</p>
                        <p>上㕮咀，每服四錢，水一盞，煎七分，去滓，食前服，自大寒至春分，加茯苓、半夏、紫蘇、生薑各半兩；自春分至小滿，加玄參、白薇各半兩；小滿至大暑，去遠志、山茱萸、白朮，加丹參、澤瀉各半兩；大暑至秋分，去遠志、白朮，加酸棗仁、車前子各半兩；自秋分至大寒並依正方。
                        </p>
                        <p>寅申之歲，少陽相火司天，厥陰風木在泉，氣化運行先天。初之氣，少陰君火，加臨厥陰風木，民病溫，氣拂於上，血溢，目赤，咳逆，頭痛，血崩，脅滿，膚腠生瘡。二之氣，太陰濕土，加臨少陰君火，民病熱鬱，咳逆，嘔吐，瘡發於中，胸臆不利，頭痛，身熱昏憒，膿瘡。三之氣，少陽相火，加臨少陽相火，民病熱中，聾瞑，血溢，膿瘡，咳，嘔，鼽衄，渴，嚏欠，喉痹，目赤，善暴死。四之氣，陽明燥金，加臨太陰濕土，民病滿，身重。五之氣，太陽寒水，加臨陽明燥金，民避寒邪，君子周密。終之氣，厥陰風木，加臨太陽寒水，民病關閉不禁，心痛，陽氣不藏而咳。治法宜鹹寒平其上，甘溫治其下，腹而作寒中。
                        </p>
                        <p>白薇　玄參　川芎　芍藥　旋覆花　桑白皮　當歸　甘草　生薑</p>
                        <p>上㕮咀，每服四錢，水大盞，煎七分去滓，食前服，自大寒至春分，加杏仁、升麻各半兩；春分至小滿，加茯苓，車前子各半兩；小滿至大暑，加杏仁、麻子仁各一分；大暑至秋分，加荊芥、茵陳蒿各一分；秋分至小雪，依正方；小雪至大寒，加紫蘇子半兩。
                        </p>
                        <p>巳亥之歲，厥陰風木司天，少陽相火在泉，氣化運行後天。初之氣，陽明燥金，加臨厥陰風木，民病寒於右脅下。二之氣，太陽寒水，加臨少陰君火，民病熱中。三之氣，厥陰風木，加臨少陽相火，民病淚出，耳鳴，掉眩。四之氣，少陰君火，加臨太陰濕土，民病黃疸，胕腫。五之氣，太陰濕土，加臨陽明燥金，濕相勝，寒氣及體，風雨乃行。終之氣，少陽相火，加臨太陽寒水，此下水克上火，民病溫厲。治法宜用辛涼以平其上，鹹寒調其下，畏火之氣，無妄犯之。
                        </p>
                        <p>敷和湯　治巳亥之歲，厥陰風木司天，少陽相火在泉，病者而反右脅下寒，耳鳴淚出，掉眩，燥濕相摶，病民黃疸，浮腫，時作溫癘。</p>
                        <p>半夏　棗子　五味子　枳殼　茯苓　訶子　乾薑　橘皮　甘草（各半兩）</p>
                        <p>上㕮咀，每服四錢，水一大盞，煎七分去滓，食前服，宜酸滲之，泄之，清之，發之。</p>
                        <p>升明湯　治寅申之歲，少陽相火司天，厥陰風木在泉，病者氣鬱熱，血赤咳逆，頭痛，滿嘔吐，胸臆不利，聾瞑渴，身重，心痛，陽氣不藏，瘡瘍，煩躁。</p>
                        <p>紫檀香　車前子　青皮　半夏　酸棗仁　薔靡　生薑　甘草</p>
                        <p>上㕮咀，每服四錢，水一盞，煎七分，去滓，食前服，自大寒至春分加白薇去參各半兩，大暑至秋分加茯苓半兩，秋分至小雪依正方，小雪至大寒加五味子半兩。</p>
                        <p>丑未之歲，太陰濕土司天，太陽寒水在泉，氣化運行後天。初之氣，厥陰風木，加臨厥陰風木，民病血溢，筋絡拘強，關節不利，身重筋痿。二之氣，少陰君火，加臨少陰君火，民病瘟癘盛行，遠近咸若。三之氣，太陰濕土，加臨少陽相火，民病身重，胕腫，腹滿。四之氣，少陽相火，加臨太陰濕土，民病腠理熱，血暴溢，瘧，心痛臚脹，甚則浮腫。五之氣，陽明燥金，加臨陽明燥金，民病皮膚，寒氣及體。終之氣，太陽寒水，加臨太陽寒水，民病關節禁固，腰脽痛。其法用酸平其上，甘溫治其下，以苦燥之，溫之，甚則發之，泄之，贊其陽火，令御甚寒。
                        </p>
                        <p>備化湯　治丑未之歲，太陰濕土司天，太陽寒水在泉，病者關節不利，筋脈脅急，身重痿弱，或瘟癘盛行，遠近咸若，或胸腹滿悶，甚則浮腫，寒瘧，血溢，腰脽痛。</p>
                    </div>

                    <script>zj_waps2();</script>
                    <div class="m-page">
                        <a href="https://www.zhonghuadiancang.com/xuanxuewushu/18783/344484.html"><button type="button"
                                class="btn btn-danger pull-left col-md-2 col-xs-3 col-sm-3">上一章</button></a>
                        <a href="https://www.zhonghuadiancang.com/xuanxuewushu/18783/"><button type="button"
                                class="btn btn-danger col-md-2 col-xs-4 col-sm-4 col-md-offset-3 col-xs-offset-1 col-sm-offset-2">返回目录</button></a>
                        <a href="https://www.zhonghuadiancang.com/xuanxuewushu/18783/344486.html"><button type="button"
                                class="btn btn-danger pull-right col-md-2 col-xs-3 col-sm-3">下一章</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <footer class="navbar navbar-default vv-footer hidden-xs hidden-sm">
        <div class="container">
            <p align="center">
                <font size="1">
                    中华典藏网旨在推广国学知识<br>吸取国学精华，传承中华文化！<br>
                    本站非营利性站点，以方便网友为主，仅供学习。<br>
                </font>
            </p>
        </div>
        <div id="tj"></div>


        <script>
            (function () {
                var bp = document.createElement('script');
                var curProtocol = window.location.protocol.split(':')[0];
                if (curProtocol === 'https') {
                    bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
                }
                else {
                    bp.src = 'http://push.zhanzhang.baidu.com/push.js';
                }
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(bp, s);
            })();
        </script>

        <script>
            var _hmt = _hmt || [];
            (function () {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?19055beeefdc53f8c9d46de44d9a851e";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>
    </footer>
    <a href="#" id="back-to-top"><span class="glyphicon glyphicon-chevron-up"></span></a>
    <script type="text/javascript" src="https://www.zhonghuadiancang.com/js/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.zhonghuadiancang.com/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://www.zhonghuadiancang.com/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="https://www.zhonghuadiancang.com/js/Read.js"></script>
    <script type="text/javascript"
        src="https://www.zhonghuadiancang.com/e/extend/shelfup/shelfup.php?classid=23&id=18783&zid=344485"></script>
    <script type="text/javascript">document.body.oncontextmenu = document.body.ondragstart = document.body.onselectstart = document.body.onbeforecopy = function () { return false; };
        document.body.onselect = document.body.oncopy = document.body.onmouseup = function () { document.selection.empty(); };</script>
</body>

</html>