<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>中国道教史_佚名_在线阅读_中华典藏</title>
    <meta name="keywords" content="中国道教史原文,中国道教史全集,佚名中国道教史全文阅读,中国道教史完整版在线阅读,中国道教史全本无删节，中国道教史TXT电子书下载" />
    <meta name="description"
        content="提傅勤家著。傅勤家生卒年不详。生平履历不详。 “中国文化史丛书”之一,1937年商务印书馆出版。1984年上海书店影印。全书共二十章,依次为:绪言、外人对于道教史之分期、诸书所述道教之起源、道之名义与其演变、道教以前之信仰、道教之形成、道教之神、道教之方术、道教之修养、道教之规律、道佛二教之互相利用、道佛二教之相排、唐宋两朝之道教、道教之流传海外、道教经典之编纂与焚毁、道教之分派、明清时代之道教、现在之道藏与辑要、宫观及道徒、结论。" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <link rel="stylesheet" type="text/css" href="https://www.zhonghuadiancang.com/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://www.zhonghuadiancang.com/css/common.css">
    <script src="https://www.zhonghuadiancang.com/js/common.js"></script>
    <script src="https://www.zhonghuadiancang.com/js/jquery-2.1.4.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse"
                    aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand vv-nav" href="https://www.zhonghuadiancang.com/"><img alt="中华典藏"
                        src="https://www.zhonghuadiancang.com/images/logo.png" class="logoimg">中华典藏</a>
                <form class="navbar-form navbar-left hidden-xs hidden-sm" method="post" name="searchform"
                    id="searchform" action="https://www.zhonghuadiancang.com/e/search/index.php">
                    <input type="hidden" name="tbname" value="bookname">
                    <input type="hidden" name="show" value="title,writer">
                    <input type="hidden" name="tempid" value="1">
                    <div class="input-group">
                        <input type="text" class="form-control" name="keyboard" placeholder="请输入书名或作者">
                        <span class="input-group-btn">
                            <button class="btn btn-danger" type="submit"><span
                                    class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </form>
            </div>
            <div class="collapse navbar-collapse" id="nav-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a target="_blank" href="https://bbs.zhonghuadiancang.com/" class="dropdown-toggle">留言</a>
                    </li>
                    <li class="dropdown">
                        <a href="https://www.zhonghuadiancang.com/s/" class="dropdown-toggle">专题</a>
                    </li>
                    <li class="dropdown">
                        <a href="https://www.zhonghuadiancang.com/renwu/" class="dropdown-toggle">人物</a>
                    </li>
                    <li class="dropdown">
                        <a href="https://www.zhonghuadiancang.com/shudan/" class="dropdown-toggle">书单</a>
                    </li>
                    <li class="dropdown">
                        <a href="https://www.zhonghuadiancang.com/top/" class="dropdown-toggle">风云榜</a>
                    </li>
                    <script src="https://www.zhonghuadiancang.com/e/member/login/loginjs.php"></script>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row menu visible-md visible-lg">
            <div class="col-md-1 col-lg-1"><a href="https://www.zhonghuadiancang.com/foxuebaodian/"
                    title="佛学宝典">佛学宝典</a></div>
            <div class="col-md-1 col-lg-1"><a href="https://www.zhonghuadiancang.com/rulizhexue/" title="儒理哲学">儒理哲学</a>
            </div>
            <div class="col-md-1 col-lg-1"><a href="https://www.zhonghuadiancang.com/lishizhuanji/"
                    title="历史传记">历史传记</a></div>
            <div class="col-md-1 col-lg-1"><a href="https://www.zhonghuadiancang.com/shicixiqu/" title="诗词戏曲">诗词戏曲</a>
            </div>
            <div class="col-md-1 col-lg-1"><a href="https://www.zhonghuadiancang.com/wenxueyishu/" title="文学艺术">文学艺术</a>
            </div>
            <div class="col-md-1 col-lg-1"><a href="https://www.zhonghuadiancang.com/xuanxuewushu/"
                    title="玄学五术">玄学五术</a></div>
            <div class="col-md-1 col-lg-1"><a href="https://www.zhonghuadiancang.com/xueshuzaji/" title="学术杂记">学术杂记</a>
            </div>
            <div class="col-md-1 col-lg-1"><a href="https://www.zhonghuadiancang.com/tianwendili/" title="天文地理">天文地理</a>
            </div>
            <div class="col-md-1 col-lg-1"><a href="https://www.zhonghuadiancang.com/leishuwenji/" title="类书文集">类书文集</a>
            </div>
            <div class="col-md-1 col-lg-1"><a href="https://www.zhonghuadiancang.com/waiguomingzhu/"
                    title="外国名著">外国名著</a></div>
            <div class="col-md-1 col-lg-1"><a href="https://www.zhonghuadiancang.com/guoxuezhishi/"
                    title="国学知识">国学知识</a></div>
        </div>
    </div>
    <div class="container">
        <div class="m-search-nav visible-xs visible-sm">
            <form class="row head vv-search visible-xs visible-sm" method="post" name="searchform" id="searchform"
                action="https://www.zhonghuadiancang.com/e/search/index.php">
                <input type="hidden" name="tbname" value="bookname">
                <input type="hidden" name="show" value="title,writer">
                <input type="hidden" name="tempid" value="1">
                <div class="col-sm-12">
                    <div class="input-group">
                        <input type="text" class="form-control input-lg" id="bdcsMain" name="keyboard"
                            placeholder="请输入书名或作者">
                        <span class="input-group-btn">
                            <button class="btn btn-danger btn-lg" type="submit"><span
                                    class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </div>
            </form>
            <div class="row headerbg visible-xs visible-sm">
                <div class="col-xs-4 col-md-4"><a href="https://www.zhonghuadiancang.com/">首页</a></div>
                <div class="col-xs-4 col-md-4">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">分类<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="https://www.zhonghuadiancang.com/xueshuzaji/" title="学术杂记">学术杂记</a></li>
                        <li><a href="https://www.zhonghuadiancang.com/wenxueyishu/" title="文学艺术">文学艺术</a></li>
                        <li><a href="https://www.zhonghuadiancang.com/foxuebaodian/" title="佛学宝典">佛学宝典</a></li>
                        <li><a href="https://www.zhonghuadiancang.com/tianwendili/" title="天文地理">天文地理</a></li>
                        <li><a href="https://www.zhonghuadiancang.com/xuanxuewushu/" title="玄学五术">玄学五术</a></li>
                        <li><a href="https://www.zhonghuadiancang.com/rulizhexue/" title="儒理哲学">儒理哲学</a></li>
                        <li><a href="https://www.zhonghuadiancang.com/lishizhuanji/" title="历史传记">历史传记</a></li>
                        <li><a href="https://www.zhonghuadiancang.com/shicixiqu/" title="诗词戏曲">诗词戏曲</a></li>
                        <li><a href="https://www.zhonghuadiancang.com/leishuwenji/" title="类书文集">类书文集</a></li>
                        <li><a href="https://www.zhonghuadiancang.com/guoxuezhishi/" title="国学知识">国学知识</a></li>
                        <li><a href="https://www.zhonghuadiancang.com/waiguomingzhu/" title="外国名著">外国名著</a></li>
                    </ul>
                </div>
                <div class="col-xs-4 col-md-4"><a href="https://www.zhonghuadiancang.com/renwu/">作家</a></div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                <div class="panel panel-danger m-cover">
                    <div class="panel-heading m-path">
                        <ol class="breadcrumb">
                            <li><a href="https://www.zhonghuadiancang.com/">首页</a></li>
                            <li><a href="https://www.zhonghuadiancang.com/xueshuzaji/">学术杂记</a></li>
                            <li class="active"><a href="https://www.zhonghuadiancang.com/xueshuzaji/18289/">中国道教史</a>
                            </li>
                        </ol>
                    </div>
                    <div class="panel-heading">
                        <h1>中国道教史 <small>作者:<a href="https://www.zhonghuadiancang.com/renwu/yiming/">佚名</a></a></small>
                        </h1>
                    </div>
                    <div class="panel-body">
                        <div class="fmpic"><img
                                src="https://www.zhonghuadiancang.com/d/file/142857df51c95c069a52184fc821810d.jpg"
                                alt="中国道教史"></div>
                        <p class="m-summary">提傅勤家著。傅勤家生卒年不详。生平履历不详。
                            “中国文化史丛书”之一,1937年商务印书馆出版。1984年上海书店影印。全书共二十章,依次为:绪言、外人对于道教史之分期、诸书所述道教之起源、道之名义与其演变、道教以前之信仰、道教之形成、道教之神、道教之方术、道教之修养、道教之规律、道佛二教之互相利用、道佛二教之相排、唐宋两朝之道教、道教之流传海外、道教经典之编纂与焚毁、道教之分派、明清时代之道教、现在之道藏与辑要、宫观及道徒、结论。
                        </p>
                        <div class="m-btn">
                            <a href="https://www.zhonghuadiancang.com/xueshuzaji/18289/339342.html"><button
                                    type="button" class="btn btn-danger">开始阅读</button></a>
                            <a href="https://www.zhonghuadiancang.com/e/DownSys/DownSoft/?classid=18&id=18289&pathid=0"
                                target="_blank"><button type="button" class="btn btn-warning">TXT下载</button></a>
                            <a href="https://www.zhonghuadiancang.com/e/member/fava/add/?classid=18&id=18289"
                                target="_blank"><button type="button" class="btn btn-success">加入书架</button></a>
                        </div>
                        <div class="m-ad-1">
                            <script>web_ad();</script>
                        </div>
                    </div>
                    <div class="alert"
                        style="background: #fff;border-left: none;border-right: none;border-radius: 0;padding: 10px 15px;margin-bottom: 0;border-color: #ebebeb;">
                        <a href='https://www.zhonghuadiancang.com/tags-50-0.html' target='_blank'>近代</a> <a
                            href='https://www.zhonghuadiancang.com/tags-136-0.html' target='_blank'>学术</a>
                    </div>
                    <div class="panel-footer col-md-12 vv-pailie">
                        <nav>
                            <strong class="pull-left">章节列表</strong><strong class="pull-right" id="pailie"><a
                                    href="javascript:void(0);" onclick="displaybyOrder(this);" target="_self"
                                    title="调整章节显示顺序">升序↑</a></strong>
                        </nav>
                    </div>
                    <div class="clearfix"></div>
                    <ul class="list-group" id="booklist">
                        <li class="list-group-item col-md-6 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xueshuzaji/18289/339342.html"
                                title="第一章　绪　言">第一章　绪　言</a></li>
                        <li class="list-group-item col-md-6 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xueshuzaji/18289/339343.html"
                                title="第二章　外人对于道教史之分期">第二章　外人对于道教史之分期</a></li>
                        <li class="list-group-item col-md-6 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xueshuzaji/18289/339344.html"
                                title="第三章　诸书所述道教之起源">第三章　诸书所述道教之起源</a></li>
                        <li class="list-group-item col-md-6 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xueshuzaji/18289/339345.html"
                                title="第四章　道之名义与其演变">第四章　道之名义与其演变</a></li>
                        <li class="list-group-item col-md-6 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xueshuzaji/18289/339346.html"
                                title="第五章　道教以前之信仰">第五章　道教以前之信仰</a></li>
                        <li class="list-group-item col-md-6 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xueshuzaji/18289/339347.html"
                                title="第六章　道教之形成">第六章　道教之形成</a></li>
                        <li class="list-group-item col-md-6 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xueshuzaji/18289/339348.html"
                                title="第七章　道教之神">第七章　道教之神</a></li>
                        <li class="list-group-item col-md-6 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xueshuzaji/18289/339349.html"
                                title="第八章　道教之方术">第八章　道教之方术</a></li>
                        <li class="list-group-item col-md-6 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xueshuzaji/18289/339350.html"
                                title="第九章　道教之修养">第九章　道教之修养</a></li>
                        <li class="list-group-item col-md-6 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xueshuzaji/18289/339351.html"
                                title="第十章　道教之规律">第十章　道教之规律</a></li>
                        <li class="list-group-item col-md-6 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xueshuzaji/18289/339352.html"
                                title="第十一章　道佛二教之互相利用">第十一章　道佛二教之互相利用</a></li>
                        <li class="list-group-item col-md-6 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xueshuzaji/18289/339353.html"
                                title="第十二章　道佛二教之相排">第十二章　道佛二教之相排</a></li>
                        <li class="list-group-item col-md-6 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xueshuzaji/18289/339354.html"
                                title="第十三章　唐宋两朝之道教">第十三章　唐宋两朝之道教</a></li>
                        <li class="list-group-item col-md-6 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xueshuzaji/18289/339355.html"
                                title="第十四章　道教之流传海外">第十四章　道教之流传海外</a></li>
                        <li class="list-group-item col-md-6 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xueshuzaji/18289/339356.html"
                                title="第十五章　道教经典之编纂与焚毁">第十五章　道教经典之编纂与焚毁</a></li>
                        <li class="list-group-item col-md-6 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xueshuzaji/18289/339357.html"
                                title="第十六章　道教之分派">第十六章　道教之分派</a></li>
                        <li class="list-group-item col-md-6 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xueshuzaji/18289/339358.html"
                                title="第十七章　明清时代之道教">第十七章　明清时代之道教</a></li>
                        <li class="list-group-item col-md-6 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xueshuzaji/18289/339359.html"
                                title="第十八章　现在之《道藏》与《辑要》">第十八章　现在之《道藏》与《辑要》</a></li>
                        <li class="list-group-item col-md-6 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xueshuzaji/18289/339360.html"
                                title="第十九章　宫观及道徒">第十九章　宫观及道徒</a></li>
                        <li class="list-group-item col-md-6 vv-book"><a
                                href="https://www.zhonghuadiancang.com/xueshuzaji/18289/339361.html"
                                title="第二十章　结　论">第二十章　结　论</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>


            </div>


            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 .visible-md visible-lg">

                <div class="panel panel-danger">
                    <div class="panel-heading title">佚名其它作品</div>
                    <ul class="list-group">
                    </ul>
                </div>

                <div class="panel panel-danger">
                    <div class="panel-heading title">猜你喜欢的作品</div>
                    <ul class="list-group">
                        <li class="list-group-item"><a
                                href="https://www.zhonghuadiancang.com/xueshuzaji/shenyikao/">深衣考</a></li>
                        <li class="list-group-item"><a
                                href="https://www.zhonghuadiancang.com/xueshuzaji/11730/">溪山琴况</a></li>
                        <li class="list-group-item"><a
                                href="https://www.zhonghuadiancang.com/xueshuzaji/kangxijixiagewubian/">康熙几暇格物编</a></li>
                        <li class="list-group-item"><a
                                href="https://www.zhonghuadiancang.com/xueshuzaji/14337/">我之文学改良观</a></li>
                        <li class="list-group-item"><a
                                href="https://www.zhonghuadiancang.com/xueshuzaji/18102/">春秋战国思想史话</a></li>
                        <li class="list-group-item"><a
                                href="https://www.zhonghuadiancang.com/xueshuzaji/15676/">冯友兰中国哲学史审查报告</a></li>
                        <li class="list-group-item"><a
                                href="https://www.zhonghuadiancang.com/xueshuzaji/fatiepuxi/">法帖谱系</a></li>
                        <li class="list-group-item"><a
                                href="https://www.zhonghuadiancang.com/xueshuzaji/pinchayaolu/">品茶要录</a></li>
                        <li class="list-group-item"><a
                                href="https://www.zhonghuadiancang.com/xueshuzaji/chunfengtangsuibi/">春风堂随笔</a></li>
                        <li class="list-group-item"><a
                                href="https://www.zhonghuadiancang.com/xueshuzaji/10513/">六艺之一录</a></li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
    </div>


    <footer class="navbar navbar-default vv-footer hidden-xs hidden-sm">
        <div class="container">
            <div class="container">
                <p align="center">
                    <font size="1">
                        中华典藏网旨在推广国学知识<br>吸取国学精华，传承中华文化！<br>
                        本站非营利性站点，以方便网友为主，仅供学习。<br>
                        联系我们：txt8@163.com</font>
                </p>
            </div>
            <div id="tj"></div>



            <script>
                (function () {
                    var bp = document.createElement('script');
                    var curProtocol = window.location.protocol.split(':')[0];
                    if (curProtocol === 'https') {
                        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
                    }
                    else {
                        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
                    }
                    var s = document.getElementsByTagName("script")[0];
                    s.parentNode.insertBefore(bp, s);
                })();
            </script>

            <script>
                var _hmt = _hmt || [];
                (function () {
                    var hm = document.createElement("script");
                    hm.src = "https://hm.baidu.com/hm.js?19055beeefdc53f8c9d46de44d9a851e";
                    var s = document.getElementsByTagName("script")[0];
                    s.parentNode.insertBefore(hm, s);
                })();
            </script>
    </footer>

    <script src="https://www.zhonghuadiancang.com/js/bootstrap.min.js"></script>
    <script>
        function displaybyOrder(e) {
            if ($(e).text() == "升序↑") { $(e).text("降序↓") } else { $(e).text("升序↑") }
            $("#booklist" + " li").each(function (e) { $(this).prependTo($(this).parent()) });
        }
    </script>
    <script src="https://www.zhonghuadiancang.com/e/extend/top/index.php?classid=18&id=18289"></script>
    <div style="display: none;">
        <script src=https://www.zhonghuadiancang.com/e/public/ViewClick/?classid=18&id=18289&addclick=1></script>
    </div>
</body>

</html>